.popup-outer-box {   
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 9;
}

.popup-overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.8);

	z-index: 1;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
	
	max-height: 80vh;
	max-width: 740px;
		width: 88%;
	
	background-color: #fff;
	overflow: auto;
	
	padding-bottom: 25px;

	z-index: 2;
}

.modal-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	margin-top: 30px;
	margin-bottom: 25px;
	
	padding: 0 10px;
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;

	margin-bottom: 18px;
}

.modal-title {
	width: 100%;
	
	font-size: 32px;
	font-family: 'Ellenluff larken Regular';
	font-weight: 400;
}

.modal-title.sm {
	font-size: 22px;
}

.modal-title-discount {
	font-family: "Ellenluff larken Bold";
	font-weight: 700;
}

.modal-checks-subtitle {
	font-size: 16px;

	margin-bottom: 12px;
}

.modal-checks span {
	font-weight: 900;
}

.popup-button {
	font-family: 'BoldFont';
	
	font-weight: 900;
	
	background-color: #000;
	color: #fff;

	max-width: 360px;
		width: 98%;
	
	padding: 18px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;

	cursor: pointer;
}

.modal-trial {
	text-align: center;
}

.modal-trial-description {
	margin-top: 15px;
	font-size: 12px;
	text-align: center;
}

.close-icon {
	position: absolute;
	top: 2rem;
	right: 1.2rem;

	z-index: 2;

	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.popup-button {
		width: 100%;
	}
	.modal {
		max-height: 94vh;
		width: 94%;
	}
	.modal-description {
		width: 100%;
		
		flex-direction: row;

		margin-top: 50px;
	}

	.modal-trial {
		text-align: left;
	}

	.modal-header {
		padding-left: 55px;
	}

	.modal-header,
	.modal-checks {
		width: 50%;

		margin-top: 0;
	}

	.modal-title {
		font-size: 40px;
	}
}




