.hidden {
    display: none;
  }
  
  .offer-col-1.w-col.w-col-5,
  .offer-row.w-row {
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
  
    .offer-col-1.w-col.w-col-5,
    .offer-row.w-row {
      flex-direction: row;
    }
  }
  
  img {
    width: 100%;
  }
  
  .offer-col-1 {
    padding-block: 0;
  }
  
  .side-image {
    padding-block: 0;
  }
  
  .header-section {
    height: 65px;
  }
  
  body {
    padding-top: 65px !important;
  }
  
  /* Reviews Section */
  
  
  .reviews-slider-container {
    position: relative;
    width: 100%;
  }
  
  .slider-arrow {
    display: none;
    position: absolute;
  
    background-color: transparent;
    top: 50%;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
  }
  
  .prev-arrow {
    left: -5px;
  }
  
  .next-arrow {
    right: -5px;
  }
  
  @media screen and (max-width: 768px) {
    .older-reviews-container {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: hidden;
      align-items: stretch;
      justify-content: flex-start;
      padding-inline: 30px;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
  
    .slider-arrow {
      display: block;
    }
  }
  
  .older-reviews {
    width: 100%;
    max-width: 1354px;
    display: flex;
    align-items: center;
    justify-content: center;	
    flex-direction: column;
    gap: 50px;
    margin: 50px auto 30px auto;								
  }
  
  #timer {
    font-size: 36px;
    line-height: 1;
    font-family: "Brandon_bld";
    color :#012169;
  }
  
  .older-reviews-container {
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;		
  
    gap: 36px;
  }
  
  .older-review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 426px;
    border-radius: 10px;
    padding: 30px 10px;
    border: 2px solid #00237e;
  }
  
  .older-reviews h2 {
    font-size: 38px;
    font-family: "Brandon_med";
    color: #00237e;
    text-align: center;
    text-wrap: balance;
  }
  
  .older-reviews .review-header {
    font-family: "Brandon_bld", sans-serif;
    font-size: 20px;
    margin: 0;
    color: #00237e;
    text-transform: uppercase;
    margin-block: 15px 10px;
  }
  .older-reviews section p {
    font-family: "Brandon_med", sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-block: 15px 10px;
    line-height: 1.5;
  }
  .older-reviews footer p {
    font-family: "Brandon_med", sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-block: 8px 0;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
  }
  .older-reviews footer strong {
    font-family: "Brandon_bld", sans-serif;
  }
  
  @media screen and (max-width: 768px) {
    .older-reviews-container {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: scroll;
      align-items: stretch;
      justify-content: flex-start;
      padding-inline: 30px;
    }
  
    .older-review-item {
      min-width: 100%;
    }
  }
  
  @media screen and (min-width: 991px) {
    .older-reviews-container {
      align-items: stretch;
      flex-wrap: wrap;
    }
    .older-review-item {
      min-width: auto;
    }
  }
   html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  footer,
  header,
  section {
    display: block;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  strong {
    font-family: "Brandon_bld";
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  button {
    color: inherit;    
    font: inherit;    
    margin: 0;    
  }
  button {
    overflow: visible;
  }
  button {
    text-transform: none;
  }
  button {
    -webkit-appearance: button;    
    cursor: pointer;    
  }
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  .w-embed:before,
  .w-embed:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  .w-embed:after {
    clear: both;
  }
  button {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
  }
  .w-row:before,
  .w-row:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  .w-row:after {
    clear: both;
  }
  .w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .w-col-5 {
    width: 41.66666667%;
  }
  .w-col-6 {
    width: 50%;
  }
  @media screen and (max-width: 767px) {
    .w-row {
      margin-left: 0;
      margin-right: 0;
    }
    .w-col {
      width: 100%;
      left: auto;
      right: auto;
    }
  }
  @media screen and (max-width: 479px) {
    .w-col {
      width: 100%;
    }
  }
  .desktop-hidden {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .mobile-hidden {
      display: block;
    }
  
    .desktop-hidden {
      display: none;
    }
    
  }
  
/* TERMLY CSS */
.termly-styles-termly-banner-e1ed59 {
    width: 100% !important;
    margin: 0 !important;
    left: 0;
    right: 0 !important;
    bottom: 0 !important;
  }
  
  #userwayAccessibilityIcon {
    width: 24px;
    height: 24px;
    background-color: transparent !important;
  }
  
  /* TERMLY CSS END */
  
  .header-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 70px;
      padding-top: 0px;
      padding-bottom: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #fff;
    }
    
    .mobile-image-logo {
      display: none;
    }
    
    .top-heading-div {
      margin-bottom: 16px;
      text-align: center;
    }
    
    .main-heading-ad {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-right: 0px;
      font-family: 'Brandon_bld', sans-serif;
      color: #fff;
      font-size: 50px;
      line-height: 59px;
      font-weight: 400;
      text-align: center;
    }
    
    .sub-heading {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 14px;
      font-family: 'Brandon_bld', sans-serif;
      color: #00237e;
      font-size: 31px;
      line-height: 36px;
      font-weight: 400;
    }
    
    .sub-heading.white {
      color: #d3d3d3;
    }
    
    .sub-para {
      margin-top: 40px;
      margin-bottom: 0px;
      font-family: 'PT Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
    
    .sub-para.white {
      color: #d3d3d3;
    }
    
    .bold-font {
      font-family: "Brandon_bld";
    }
    
    .top-hero-div {
      display: block;
      width: 1100px;
      max-width: none;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px none #00237e;
      background-color: transparent;
    }
    
    .top-hero-right {
      width: auto;
      padding: 0px;
      border-bottom: 2px none #00237e;
    }
    
    .hero-img {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .auth-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      height: auto;
      padding: 0px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-style: none;
      border-width: 1px;
      border-color: rgba(0, 35, 126, 0.27);
      border-radius: 0px;
      background-color: transparent;
    }
    
    .author-and-view-div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0px;
      padding-bottom: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    
    .quote-para {
      margin-bottom: 0px;
      padding-right: 19px;
      padding-left: 0px;
      font-family: Merriweather, serif;
      color: #fff;
      font-size: 19px;
      line-height: 23px;
      font-style: normal;
    }
    
    .main-content-block {
      position: static;
      left: 372px;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
    
    .footer-sec {
      margin-top: 0px;
      padding-top: 37px;
      padding-bottom: 26px;
      background-color: #e4f3fb;
    }
    
    .heading-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 347px;
      padding-top: 15px;
      padding-bottom: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #00237e;
    }
    
    .link {
      font-family: 'Fa solid 900', sans-serif;
      color: #fff;
      font-size: 41px;
      line-height: 36px;
      text-decoration: none;
    }
    
    .arrow-div {
      margin-top: 42px;
      text-align: center;
    }
    
    .row-1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: auto;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: stretch;
      background-color: #e4f3fb;
    }
    
    .col-1 {
      height: auto;
      padding-right: 78px;
      padding-left: 78px;
      background-color: #e4f3fb;
    }
    
    .col-2 {
      height: auto;
      padding-right: 0px;
      padding-left: 0px;
    }
    
    @media screen and (min-width : 480px) and (max-width: 1100px) {
    
      .col-1-div {
        padding: 40px 20px 52px;
      }
    
    }
    
    .row-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: stretch;
      background-color: #00237e;
    }
    
    .col-two-1 {
      padding-right: 0px;
      padding-left: 0px;
    }
    
    .col-two-2 {
      padding-right: 78px;
      padding-left: 78px;
    }
    
    .w-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .w-col img {
      height: 100%;
      object-fit: cover;
    }
    
    .offer-section {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 59px;
      padding-bottom: 59px;
      background-color: #fff;
    }
    
    .html-embed-6 {
      font-family: 'Brandon_reg', sans-serif;
      color: #e56161;
      line-height: 21px;
      text-align: center;
      letter-spacing: 1px;
    }
    
    .offer-col-1 {
      padding-top: 39px;
      padding-right: 0px;
      padding-bottom: 39px;
      background-image: url('/a/s6-reasons-no-t-internal/images/6s/cta-bg.png');
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      text-align: center;
    }
    
    .text-block-3 {
      margin-top: 7px;
      border-bottom: 1px none #c4c4c4;
      font-family: 'Brandon_bld';
      color: #00237e;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 23px;
      font-weight: 700;
      text-align: center;
    }
    
    .offer-div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    
    .offer-text-block-2 {
      font-family: "Brandon_reg";
      color: #00237e;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  
    .offer-text-block-2.desktop-hidden {
      max-width: 260px;
    }
  
    .offer-text-block-2  span {
      font-family: "Brandon_bld" !important;
    }
    
    .for-mob-head-2 {
      display: none;
      font-family: "Brandon_reg", sans-serif;
      color: #00237e;
      font-size: 26px;
      line-height: 34px;
      font-weight: 600;
      text-align: left;
    }
    
    .offer-col-2 {
      display: block;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: left;
    }
    
    .offer-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 920px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 50px 0px 50px;
      gap: 43px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-style: none;
      border-width: 1px;
      border-color: #cecaca;
      border-radius: 15px;
      background-color: hsla(0, 0%, 94.5%, 0);
      background-image: none;
      box-shadow: 1px 0 20px -3px rgba(0, 0, 0, 0.47);
    }
  
    .offer-row.w-row::after {
      display: none;
    }
    .offer-row.w-row::before {
      display: none;
    }
    
    .text-span-3 {
      padding-right: 15px;
      font-family: 'Fa solid 900', sans-serif;
      font-weight: 400;
    }
    
    .button-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 500px;
      margin-top: 21px;
      margin-bottom: 14px;
      padding: 21px 38px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-style: solid;
      border-width: 2px;
      border-color: #19973d;
      border-radius: 10px;
      background-color: #206b2e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#85bb01), to(#19973d));
      background-image: linear-gradient(180deg, #85bb01, #19973d);
      font-family: Montserrat, sans-serif;
      color: #fff;
      font-size: 22px;
      line-height: 15px;
      font-weight: 700;
      text-align: left;
    }
    
    .button-2:hover {
      box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.35);
    }
    
    .offer-heading-2 {
      margin-top: 16px;
      font-family: 'Brandon_reg' !important;
      color: #00237e;
      font-size: 30px;
      line-height: 34px;
      font-weight: 600;
      text-align: center;
    }
    
    .div-block-3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    
    .div-block-4 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    
    .div-block-5 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    
    .div-block-6 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    
    .div-block-7 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    
    .div-block-8 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    
    .text-span-30 {
      font-weight: 900;
    }
    
    .div-block-11 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    
    .div-block-12 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      border-radius: 10px;
      background-color: #f5f5f5;
    }
    
    .text-block-4 {
      font-family: "Montserrat";
      font-size: 17px;
    }
  
    .sell-out-wrapper {
      display: flex;
      align-items: center;
      gap: 2px;
    }
    
    .text-block-5 {
      display: flex;
      align-items: center;
      gap: 4px;
      font-family: "Montserrat";
      color: #00237e;
      font-size: 11px;
    }
  
    .text-block-5 strong {
      font-family: "Brandon_bld";
    }
    
    .text-span-31 {
      color: #ec2222;
      font-weight: 800;
      font-family: "Montserrat";
      font-size: 11px;
    }
    
    .text-span-32 {
      font-family: 'Fa solid 900', sans-serif;
      font-size: 11px;
    }
    
    .side-image {
      margin-top: 0px;
      padding-top: 26px;
      padding-bottom: 26px;
      text-align: center;
    }
    
    .text-span-33 {
      color: #00237e;
      font-family: "Montserrat";
      font-size: 11px;
  }
    
    @media screen and (max-width: 991px) {
      .header-section {
        padding-right: 24px;
        padding-left: 24px;
      }
      .main-heading-ad {
        padding-right: 0px;
        font-size: 37px;
        line-height: 42px;
      }
      .top-hero-div {
        padding-right: 43px;
        padding-left: 43px;
      }
      .main-content-block {
        position: static;
        width: auto;
      }
      .footer-sec {
        padding-right: 24px;
        padding-left: 24px;
      }
      .offer-col-2 {
        padding-left: 0px;
      }
      .button-2 {
        padding: 11px 12px;
        font-size: 18px;
        line-height: 26px;
      }
    }
    
    @media screen and (max-width: 768px) {
      .header-section {
        height: 56px;
        padding-top: 0px;
        text-align: center;
      }
      .main-logo-img {
        display: none;
      }
      .mobile-image-logo {
        display: inline-block;
      }
      .top-heading-div {
        margin-bottom: 7px;
      }
      .main-heading-ad {
        margin-top: 10px;
        padding-right: 0px;
        font-size: 30px;
        line-height: 36px;
      }
      .sub-heading {
        margin-top: 15px;
        font-size: 26px;
        line-height: 34px;
      }
      .sub-para {
        font-size: 16px;
        line-height: 24px;
      }
      .top-hero-div {
        padding: 39px 16px;
      }
      .auth-right {
        margin-top: 0px;
        border-left-style: none;
        border-radius: 5px;
      }
      .author-and-view-div {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .quote-para {
        margin-top: 11px;
        padding: 3px 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 50px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
      }
      .main-content-block {
        padding-right: 0px;
        padding-left: 0px;
      }
      .footer-sec {
        padding-right: 16px;
        padding-left: 16px;
      }
      .heading-section {
        height: auto;
        padding-top: 0px;
      }
      .arrow-div {
        margin-top: 27px;
      }
      .row-1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
      }
      .col-1 {
        padding: 39px 20px 53px;
      }
      .col-1-div {
        padding: 0px;
      }
      .row-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      .col-two-2 {
        padding: 39px 20px 53px;
      }
      .offer-section {
        padding-top: 48px;
        padding-right: 20px;
        padding-left: 20px;
      }
      .offer-col-1 {
        padding-top: 0px;
        padding-left: 0px;
        background-image: url('../images/rays1.png');
        background-position: 50% 50%;
        background-size: 237px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        text-align: center;
      }
      .text-block-3 {
        margin-top: 10px;
        font-family: 'Brandon_bld', sans-serif;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
      }
      .offer-text-block-2 {
        margin-top: -30px;
        font-size: 15px;
        text-align: center;
      }
      .for-mob-head-2 {
        display: block;
        margin-top: 0px;
        margin-bottom: 51px;
        color: #00237e;
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        text-wrap: balance;
      }
      .offer-col-2 {
        padding-right: 0px;
      }
      .offer-row {
        width: auto;
        padding: 28px 14px 32px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-image: none;
        box-shadow: 1px 0 20px -4px rgba(0, 0, 0, 0.47);
        text-align: center;
        gap: 0;
      }
      .text-span-3 {
        padding-right: 17px;
        padding-left: 0px;
      }
      .button-2 {
        width: 100%;
        text-align: center;
        padding: 15px 12px;
        font-size: 17px;
        line-height: 23px;
        text-transform: uppercase;
      }
      .offer-heading-2 {
        display: none;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
      }
      .div-block-3 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .div-block-4 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .div-block-5 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .div-block-7 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .div-block-8 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .div-block-12 {
        margin-top: 8px;
      }
      .text-block-4 {
        font-size: 14px;
      }
      .text-block-5 {
        font-size: 11px;
      }
    }
    
    /* TIKTOK FOOTER CSS START*/
    
    .footer-container {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 40px;
      border-bottom: 1px solid #D8D8D8;
    }
    .contact-section {
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
    .contact-section-text {
      margin-top: 10px;
      font-family: "Brandon_bld";
      text-align: right;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
    }
    a {
      text-decoration: underline;
      color: #00237e;    
    }
    
    .mail-address p {
      font-size: 22px;
      font-family: "Brandon_bld";
      margin: 0px 0px 0px 10px
    }
    .footer-logo {
      width: 161px;
      height: 35px;
      text-align: center;
      margin-bottom: 50px;
    }
    
    .font-bold {
      font-family: "Brandon_bld";
    }
    
    .footer-container {
      display: flex;
    }
    .footer-sec {
      color: #00237e;
      font-family: "Brandon_reg";
    }
    
    .footer-logo-wrapper {
      max-width: 940px;
      justify-content: flex-start;
      margin-left: auto;
      margin-right: auto;
    }
    ul li {
      list-style-type: none;
      margin-top: 10px;
    
    }
    
    .address-list-section {
      display: flex;
    }
    
    .address-list-title {
      font-size: 12px;
      font-family: "Brandon_bld";
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
    .address-list-item {
      padding: 0px !important;
    }
    
    .shipping-list-item {
      padding: 0px !important;
    }
    
    .address-list-item:nth-child(2) {
      margin-left: 30px;
    }
    
    .info-section {
      margin-left: 107px;
    }
    .info-list{
      display: flex;
      flex-direction: column;
    }
    .mail-address {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .disclaimer-section {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
    .copyright-section {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 38px;
      font-size: 12px;
      font-family: "Brandon_bld";
    }
    
    
    @media screen and (max-width: 479px) {
      .address-list-title {
        text-align: center;
      }
      .footer-container {
        display: flex;
        flex-direction: column;
      }
      .address-list-section {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .address-list-item:nth-child(2) {
        margin-top: 30px;
        margin-left: 0px;
      }
    
      .info-section {
        margin-left: 0px;
      }
      .footer-logo-wrapper {
        display: flex;
      }
      .footer-logo {
        margin-left: auto;
        margin-right: auto;
      }
      .info-list {
        align-items: center;
        text-align: center;
      }
      .contact-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .copyright-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .copyright-section-links {
        margin-left: 0px !important;
      }
    
    }
    
    @media screen and (max-width: 991px) {
      .info-section {
        margin-left: 10px;
      }
    }
    
    .disclaimer-section p {
      font-family: "Brandon_reg";
      margin-top: 30px;
      font-size: 12px;
      line-height: 1.3;
    }
    
    .copyright-section {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 38px;
      font-size: 12px;
      font-family: "Brandon_bld";
      display: flex;
    }
    .copyright-section-links {
      margin-left: auto;
      display: flex;
    }
    .copyright-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Brandon_med";
    }
    .links-footer-line {
      width: 1px;
      height: 9px;
      background-color: #00237e;
      margin-left: 7.5px;
      margin-right: 7.5px;
    }
    
    /* TIKTOK FOOTER CSS END*/
    
    @font-face {
      font-family: 'Fa brands 400';
      src: url('/a/fonts/fa-brands-400.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: auto;
    }
    @font-face {
      font-family: 'Fa solid 900';
      src: url('/a/fonts/fa-solid-900.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: auto;
    }
    @font-face {
      font-family: 'Brandon_med';
      src: url('/a/fonts/Brandon_med.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: auto;
    }
    @font-face {
      font-family: 'Brandon_reg';
      src: url('/a/fonts/Brandon_reg.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: auto;
    }
    @font-face {
      font-family: 'Brandon_bld';
      src: url('/a/fonts/Brandon_bld.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: auto;
    }