html, body {
  overflow-x: hidden!important;
}
body {
  position: relative!important;
}


.button---yes {
  display: block;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px 40px;
  border-radius: 8px;
  background-color: #00237e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e599e), to(#00237e));
  background-image: linear-gradient(180deg, #3e599e, #00237e);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
}

.button---yes.yes2 {
  background-color: #ffae00;
  background-image: none;
}

.image-2 {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block-4 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.image-3 {
  margin-top: 0px;
  text-align: center;
}

.product-hero {
  margin-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.heading-3 {
  margin-top: 0px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 47px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
  color: #00237e;
  font-size: 23px;
  line-height: 32px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0px;
}

.text-block-5 {
  margin-top: 0px;
  font-family: 'Brandon reg', sans-serif;
  color: #00237e;
  font-size: 17px;
  text-align: left;
}

.text-span-5 {
  padding-right: 12px;
  color: #ffc800;
}

.div-block-5 {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

.div-block-6 {
  display: block;
  max-width: 1000px;
  min-width: 0px;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 48px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 44px;
  line-height: 47px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.paragraph-2 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #00237e;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

.competitors-chart {
  display: block;
  min-height: 500px;
  padding-top: 87px;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7fcfd;
}

.image-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  padding-top: 78px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e4f3fb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(78%, #e4f3fb), color-stop(92%, #fff), to(#fff));
  background-image: linear-gradient(180deg, #e4f3fb 78%, #fff 92%, #fff);
}

.featured-on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  padding-top: 60px;
  padding-bottom: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4f3fb), to(#e4f3fb));
  background-image: linear-gradient(180deg, #e4f3fb, #e4f3fb);
}

.heading-5-copy-copy-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.heading-5-copy-copy-copy.htr {
  color: #fff;
  text-transform: capitalize;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  min-height: auto;
  margin: 10px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px dotted #fdc121;
  border-radius: 100px;
  background-color: #fff;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff 27%, #e4f3fb);
  box-shadow: 0 8px 12px -5px #000;
  text-align: center;
}

.text-block-6 {
  margin-top: 10px;
  font-family: 'Brandon bld', sans-serif;
  color: #535353;
  font-size: 16px;
}

.text-gifs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  padding-top: 78px;
  padding-bottom: 123px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e4f3fb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e4f3fb));
  background-image: linear-gradient(180deg, #fff, #e4f3fb);
}

.header---section {
  border-bottom: 1px solid #d0d5e2;
  background-color: #00237e;
}

.text-span-6 {
  font-size: 18px;
  font-weight: 700;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  padding-top: 71px;
  padding-bottom: 116px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00237e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 35, 126, 0.32)), to(rgba(0, 35, 126, 0.53))), url('../images/mid.jpg');
  background-image: linear-gradient(180deg, rgba(0, 35, 126, 0.32), rgba(0, 35, 126, 0.53)), url('../images/mid.jpg');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
  color: #00237e;
}

.div-block-10 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.paragraph-2-cta {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.columns-8 {
  margin-top: 20px;
}

.button---yes-copy {
  display: block;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #00237e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e599e), to(#00237e));
  background-image: linear-gradient(180deg, #3e599e, #00237e);
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.6);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -8px;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(27, 174, 75, 0.43);
  border-radius: 0px;
  background-color: rgba(27, 174, 75, 0.2);
  text-align: center;
}

.div-block-13 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.button---yes-copy-copy-copy {
  display: block;
  width: 50%;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #00237e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e599e), to(#00237e));
  background-image: linear-gradient(180deg, #3e599e, #00237e);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
}

.div-block-14 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.text-block-7 {
  margin-top: 10px;
  font-family: 'Brandon med', sans-serif;
  color: #fff;
  text-align: center;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00237e;
}

.columns-9 {
  margin-top: 48px;
}

.review-card {
  margin-top: 25px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-22 {
  width: 100%;
  margin-left: 15px;
}

.div-block-22-mobile {
  display: none;
  width: 100%;
  margin-left: 15px;
}

.list-item-hero {
  padding: 2px 0px;
  color: #00237e;
  font-size: 24px;
  text-align: left;
}

.list-hero {
  margin-bottom: 20px;
  padding-left: 0px;
  font-family: 'Brandon med', sans-serif;
  font-size: 22px;
  line-height: 40px;
  font-style: normal;
  text-align: left;
  list-style-type: none;
}

.list-hero-mobilee {
  display: none;
  padding-left: 0px;
  font-family: 'Brandon med', sans-serif;
  font-size: 22px;
  line-height: 40px;
  font-style: normal;
  text-align: left;
  list-style-type: none;
}

.review-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding-top: 27px;
  padding-bottom: 87px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e4f3fb;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-width: 50%;
  min-height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div-block-26 {
  width: 50%;
  max-width: 50%;
  padding: 15px;
  background-color: #fff;
}

.paragraph-8 {
  font-family: 'Open Sans', sans-serif;
  color: #00237e;
  font-size: 15px;
  line-height: 21px;
}

.heading-class-s {
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.mir-card-div {
  padding: 0px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
}

.card-text-div {
  padding: 21px 20px;
}

.div-block-33 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.badge-div {
  display: block;
  height: auto;
  margin-top: 25px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none #ee7f31;
  border-bottom: 1px none #ee7f31;
  border-radius: 8px 8px 0px 0px;
  background-color: #fff;
}

.text-block-15 {
  padding-left: 11px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.text-span-14 {
  font-weight: 800;
}

.text-span-15 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.text-span-16 {
  font-weight: 800;
}

.text-block-16 {
  padding-left: 23px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-35 {
  width: 1000px;
}

.text-block-17 {
  font-family: Merriweather, serif;
  color: #00237e;
  font-size: 26px;
  line-height: 41px;
  font-weight: 300;
  text-align: center;
}

.quote-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  padding-bottom: 55px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  text-align: center;
}

.div-block-36 {
  width: 1000px;
}

.heading-8 {
  position: relative;
  top: -59px;
  font-family: 'Fa solid 900', sans-serif;
  color: #00237e;
  font-size: 52px;
  line-height: 64px;
  font-weight: 400;
}

.heading-9 {
  font-family: 'Fa solid 900', sans-serif;
  color: #00237e;
  font-size: 52px;
  line-height: 64px;
  font-weight: 400;
}

.text-span-17 {
  padding-right: 4px;
  font-family: 'Fa solid 900', sans-serif;
  color: #1bae4b;
  font-size: 22px;
}

.text-span-18 {
  padding-right: 4px;
  font-family: 'Fa solid 900', sans-serif;
  color: #1bae4b;
  font-size: 22px;
}

.text-span-19 {
  padding-right: 4px;
  font-family: 'Fa solid 900', sans-serif;
  color: #1bae4b;
  font-size: 22px;
}

.text-span-20 {
  font-family: 'Fa solid 900', sans-serif;
  color: #ffae00;
  font-weight: 400;
  letter-spacing: 1px;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.paragraph-9 {
  font-family: 'Open Sans', sans-serif;
  color: #00237e;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}

.text-block-18 {
  margin-top: 17px;
  margin-bottom: 18px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.div-block-38 {
  width: 320px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 24px 31px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 35, 126, 0.32);
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.div-block-39 {
  width: 320px;
  margin-right: 14px;
  margin-left: 14px;
  padding: 24px 31px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 35, 126, 0.32);
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.div-block-40 {
  width: 320px;
  margin-right: 14px;
  margin-left: 14px;
  padding: 24px 31px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 35, 126, 0.32);
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.image-11 {
  display: block;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.heading-10 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.check-comparison-table {
  padding-left: 0px;
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
}

.break-row-color-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #f3e6d2;
  border-bottom-left-radius: 8px;
  background-color: #e4f3fb;
}

.div-block-41 {
  max-width: 1000px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.comp-text-mir-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}

.comparison-table-middle-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e4f3fb;
  border-top-right-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.26);
}

.comparison-table-initial-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e4f3fb;
  border-top-left-radius: 8px;
  background-color: rgba(255, 255, 255, 0.26);
}

.comp-headline-right-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'Brandon reg', sans-serif;
  color: #242424;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.columns-11 {
  margin-top: 0px;
  padding-top: 61px;
  padding-bottom: 30px;
}

.comparison-table-las-white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #e4f3fb;
  border-bottom: 2px solid #e4f3fb;
  border-left: 2px solid #e4f3fb;
  background-color: #00237e;
}

.break-row-color-2-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f3fb;
  border-bottom-right-radius: 8px;
  background-color: #e4f3fb;
}

.break-row-color-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e4f3fb;
  background-color: #e4f3fb;
}

.break-row-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e4f3fb;
  background-color: #e4f3fb;
}

.comparison-table-top {
  max-width: 100%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
  border-radius: 8px;
  box-shadow: 0 17px 20px 3px rgba(0, 35, 126, 0.23);
}

.comparison-table {
  border: 1px solid #000;
}

.comparison-table.comparison-row-white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #f3e6d2;
}

.comparison-table.comparison-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.table-feature {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}

.copmarison-x {
  padding-right: 0px;
  font-family: 'Fa solid 900', sans-serif;
  color: #cc3234;
  font-size: 30px;
  line-height: 30px;
}

.comparison-table-middle-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e4f3fb;
  background-color: #fff;
}

.comparison-table-las-white-last-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-bottom: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #e4f3fb;
  border-left: 2px solid #e4f3fb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #00237e;
}

.comparison-table-initial-white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e4f3fb;
  background-color: #fff;
}

.comparison-table-las {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-top: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #e4f3fb;
  border-bottom: 2px solid #e4f3fb;
  border-left: 2px solid #e4f3fb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #00237e;
}

.comp-text-other-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 25px;
}

.tes-main-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-10 {
  margin-top: -6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-19 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.text-block-20 {
  margin-top: 4px;
  text-align: left;
  letter-spacing: 1px;
}

.text-span-21 {
  font-family: 'Fa solid 900', sans-serif;
  color: #ffae00;
  font-weight: 400;
}

.slider-thumb-wrap-2 {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 90px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(191, 191, 255, 0);
}

.image-12 {
  width: 100%;
}

.icon-2 {
  color: #777;
}

.slider-arrow {
  color: #777;
}

.slider-arrow.right {
  right: 0px;
  display: none;
}

.slider-arrow.left {
  left: 0px;
  display: none;
}

.slider-navigation {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -25%;
  z-index: 4;
  height: 100px;
  margin: 0px;
  padding-top: 0px;
  border-style: dashed;
  border-width: 1px;
  border-color: #32ff47;
  background-color: rgba(255, 255, 255, 0.27);
}

.slider-navigation.no-perspective {
  bottom: -20%;
  overflow: hidden;
  height: 80px;
  border-style: none;
}

.slider-navigation.default-no-perspective {
  left: 0%;
  bottom: -20%;
  z-index: 5;
  overflow: hidden;
  height: 80px;
  border: 1px none #000;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.07;
  font-size: 80px;
}

.slider-thumb-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.slider-3 {
  height: 500px;
}

.slider-3.no-perspective {
  margin-bottom: 140px;
  background-color: transparent;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.image-sheets {
  width: 100%;
}

.div-block-21 {
  width: 98%;
  margin-right: 15px;
}

.text-block-21 {
  font-family: 'Fa solid 900', sans-serif;
  color: #00237e;
  font-size: 23px;
  line-height: 39px;
}

.div-block-257 {
  margin-right: 18px;
}

.div-block-258 {
  margin-top: 22px;
}

.div-block-259 {
  position: relative;
  left: 76px;
  top: -55px;
  width: 40px;
  height: 40px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 100px;
  background-color: #e4f3fb;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.43);
  font-family: 'Open Sans', sans-serif;
}

.test-main-div {
  width: 400px;
  height: 310px;
  margin-right: 11px;
  margin-left: 11px;
  padding: 22px 26px;
  border-radius: 8px;
  background-color: #fff;
  background-image: linear-gradient(167deg, #fff 39%, rgba(217, 222, 236, 0.93) 73%, rgba(158, 171, 206, 0.83) 91%, rgba(0, 35, 126, 0.35));
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.22);
}

.div-block-260 {
  display: none;
  width: 1200px;
  margin-top: 28px;
  margin-bottom: 28px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-261 {
  margin-right: 8px;
  margin-left: 8px;
}

.div-block-262 {
  margin-right: 8px;
  margin-left: 8px;
}

.div-block-263 {
  margin-right: 8px;
  margin-left: 8px;
}

.div-block-264 {
  margin-right: 8px;
  margin-left: 8px;
}

.text-span-22 {
  font-family: 'Fa solid 900', sans-serif;
}

.text-span-23 {
  font-family: 'Fa solid 900', sans-serif;
}

.newone-pc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-top: 33px;
  padding-bottom: 33px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.three-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  padding-top: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed-7 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.html-embed-8 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.html-embed-9 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.div-block-265 {
  padding-top: 4px;
}

.text-span-25 {
  font-size: 11px;
  line-height: 14px;
  font-weight: 300;
}

.div-block-266 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-11 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Brandon reg', sans-serif;
  color: #00237e;
  text-align: center;
}

.bold-text-14 {
  font-size: 44px;
}

.review-purchase-cards-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7fcfd;
}

.reviews-2 {
  display: block;
  min-height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-block-24 {
  font-family: Montserrat, sans-serif;
  color: #00237e;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.accordion-item {
  max-width: none;
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.accordion-item.shipthird {
  margin-bottom: 28px;
}

.accordion-div {
  margin-top: 28px;
  margin-right: 25px;
}

.accordion__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.accordion__content {
  margin: 15px 20px 20px;
}

.accordion__content-wrap {
  overflow: hidden;
  height: 0%;
}

.text-block-26 {
  margin-top: 0px;
  margin-bottom: 13px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.paragraph-12 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #8b8b8b;
  letter-spacing: 0.5px;
}

.paragraph-12.up-margin {
  margin-top: -12px;
}

.accordion__plus-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14px;
  height: 14px;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.accordion__bar-vert {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #00237e;
}

.accordion__bar-hor {
  width: 100%;
  height: 2px;
  background-color: #00237e;
}

@media screen and (max-width: 991px) {
  .comp-text-mir-2 {
    font-size: 16px;
    line-height: 20px;
  }

  .comp-text-other-2 {
    font-size: 16px;
    line-height: 20px;
  }


  .div-block-22{
margin-left: 0px!important;
  }


}

@media screen and (max-width: 479px) {
  .button---yes {
    font-size: 15px;
    line-height: 20px;
  }

  .button---yes.yes2 {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 21px;
  }

  .image-2 {
    margin-top: 15px;
  }

  .product-hero {
    padding: 0px 10px 10px;
  }

  .heading-3 {
    display: none;
    font-size: 20px;
  }

  .heading-4 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .text-block-5 {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
  }

  .div-block-5 {
    margin-top: -13px;
    padding-top: 0px;
    padding-bottom: 9px;
  }

  .div-block-6 {
    max-width: none;
    padding-right: 12px;
    padding-left: 12px;
  }

  .heading-5 {
    margin-bottom: 33px;
    font-size: 26px;
    line-height: 28px;
  }

  .paragraph-2 {
    font-size: 14px;
    line-height: 24px;
  }

  .paragraph-2.mobit {
    margin-bottom: 49px;
    font-size: 15px;
    line-height: 24px;
  }

  .competitors-chart {
    min-height: auto;
    padding: 47px 10px 10px;
  }

  .image-columns {
    padding: 45px 10px 10px;
  }

  .featured-on {
    width: 100%;
    min-height: auto;
    padding: 39px 10px 55px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e4f3fb), to(#e4f3fb));
    background-image: linear-gradient(180deg, #e4f3fb, #e4f3fb);
  }

  .heading-5-copy-copy-copy {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
  }

  .heading-5-copy-copy-copy.htr {
    font-size: 26px;
    line-height: 28px;
  }

  .heading-5-copy-copy-copy.trttt {
    color: #00237e;
    font-size: 26px;
    line-height: 28px;
  }

  .div-block-7 {
    width: 144px;
    height: 143px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .text-block-6 {
    font-size: 12px;
    line-height: 15px;
  }

  .text-gifs {
    min-height: auto;
    padding: 10px 10px 36px;
  }

  .text-span-6 {
    font-size: 16px;
  }

  .cta {
    padding: 28px 10px 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 35, 126, 0.32)), to(rgba(0, 35, 126, 0.53))), url('../images/mobmid.jpg');
    background-image: linear-gradient(180deg, rgba(0, 35, 126, 0.32), rgba(0, 35, 126, 0.53)), url('../images/mobmid.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }

  .div-block-10 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .paragraph-2-cta {
    font-size: 15px;
    line-height: 24px;
  }

  .button---yes-copy {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .div-block-12 {
    margin-top: -7px;
    border-style: solid;
    border-color: rgba(27, 174, 75, 0.22);
    border-radius: 0px;
  }

  .div-block-13 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .button---yes-copy-copy-copy {
    width: 100%;
  }

  .text-block-7 {
    font-size: 12px;
  }

  .copyright {
    padding: 10px;
  }

  .columns-9 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block-17 {
    margin-top: 10px;
  }

  .div-block-20 {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }



  .div-block-22-mobile {
    display: block;
    margin-left: 0px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .html-embed-3 {
    margin-top: 10px;
  }

  .list-item-hero {
    min-height: 32px;
    padding-right: 0px;
    background-position: 0% 4px;
    background-size: 18px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  .list-hero {
    margin-top: 20px;
  }

  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .list-hero-mobilee {
    display: block;
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .review-cards {
    padding: 12px 10px 34px;
  }

  .div-block-24 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .div-block-25 {
    width: 100%;
    max-width: 100%;
  }

  .div-block-26 {
    width: 100%;
    max-width: 100%;
  }

  .paragraph-8 {
    font-size: 15px;
    line-height: 24px;
  }

  .heading-class-s {
    font-size: 20px;
    line-height: 24px;
  }

  .badge-div {
    margin-bottom: 14px;
  }

  .text-block-15 {
    padding-left: 8px;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
  }

  .text-block-16 {
    font-size: 11px;
    line-height: 18px;
  }

  .text-block-17 {
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
  }

  .heading-8 {
    left: 9px;
    top: -84px;
    font-size: 32px;
    line-height: 32px;
  }

  .heading-9 {
    position: relative;
    top: 20px;
    right: 7px;
    color: rgba(0, 35, 126, 0.43);
    font-size: 32px;
    line-height: 32px;
  }

  .text-span-17 {
    padding-right: 10px;
    font-size: 16px;
    line-height: 21px;
  }

  .div-block-37 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-38 {
    margin-bottom: 27px;
  }

  .div-block-39 {
    margin-bottom: 27px;
  }

  .div-block-40 {
    margin-bottom: 27px;
  }

  .image-11 {
    max-width: 80%;
  }

  .heading-10 {
    font-size: 26px;
    line-height: 28px;
  }

  .check-comparison-table {
    padding-left: 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .break-row-color-last {
    width: 50%;
    height: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .div-block-41 {
    margin-bottom: 40px;
  }

  .comp-text-mir-2 {
    font-size: 10px;
    line-height: 16px;
  }

  .comparison-table-middle-copy {
    width: 25%;
  }

  .comparison-table-initial-copy {
    width: 50%;
    height: 50px;
  }

  .comp-headline-right-3 {
    padding-left: 0px;
    font-family: 'Brandon med', sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }

  .break-row-color-2-last {
    width: 25%;
  }

  .break-row-color-2 {
    width: 25%;
  }

  .break-row-color {
    width: 50%;
    height: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .comparison-table-top {
    margin-top: 40px;
  }

  .table-feature {
    font-family: 'Brandon reg', sans-serif;
    font-size: 13px;
    text-align: left;
    letter-spacing: -1px;
  }

  .copmarison-x {
    padding-right: 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .comparison-table-middle-last {
    width: 25%;
  }

  .comparison-table-initial-white {
    width: 50%;
    height: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .comp-text-other-2 {
    color: #000;
    font-size: 10px;
    line-height: 16px;
  }

  .tes-main-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph-10 {
    font-size: 15px;
    line-height: 22px;
  }

  .image-12 {
    height: auto;
    margin-top: -100px;
  }

  .icon-2 {
    color: #fff;
  }

  .slider-arrow.right {
    display: block;
  }

  .slider-arrow.left {
    display: block;
  }

  .slider-navigation.no-perspective {
    display: none;
  }

  .slider-navigation.default-no-perspective {
    display: none;
  }

  .div-block-50 {
    position: relative;
  }

  .div-block-49 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #e4f3fb;
  }

  .slider-3.no-perspective {
    height: auto;
    margin-right: -15px;
    margin-bottom: 0px;
    margin-left: -15px;
  }

  .mask-2 {
    height: 220px;
  }

  .image-sheets {
    width: auto;
    height: 230px;
    margin-top: 0px;
  }

  .div-block-21 {
    position: relative;
    display: block;
    margin-right: 0px;
  }

  .test-main-div {
    width: auto;
    height: auto;
    margin-bottom: 32px;
    border-radius: 10px;
  }

  .div-block-260 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-262 {
    margin-top: 32px;
  }

  .div-block-264 {
    margin-top: 32px;
  }

  .column-12 {
    margin-bottom: 37px;
  }

  .column-13 {
    margin-bottom: 37px;
  }

  .column-14 {
    margin-bottom: 0px;
  }

  .newone-pc {
    display: none;
    width: auto;
  }

  .three-in {
    margin-top: 20px;
    margin-bottom: -4px;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bold-text-13 {
    font-size: 16px;
  }

  .div-block-265 {
    padding-top: 2px;
  }

  .text-span-26 {
    font-size: 10px;
    line-height: 13px;
    font-weight: 300;
  }

  .div-block-267 {
    width: 32px;
    height: 32px;
    margin-bottom: 7px;
  }

  .div-block-268 {
    width: 32px;
    height: 32px;
    margin-bottom: 7px;
  }

  .div-block-269 {
    width: 32px;
    height: 32px;
    margin-bottom: 7px;
  }

  .div-block-270 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-271 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-272 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading-11 {
    font-size: 22px;
    line-height: 26px;
  }

  .bold-text-14 {
    font-size: 28px;
  }

  .review-purchase-cards-2 {
    padding: 10px;
  }

  .reviews-2 {
    padding: 10px;
  }

  .text-block-24 {
    font-family: Montserrat, sans-serif;
    color: #00237e;
    font-size: 14px;
    line-height: 18px;
  }

  .accordion-item {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.21);
  }

  .accordion-div {
    margin-top: 24px;
    border-style: none;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.21);
  }

  .accordion__content {
    margin-top: 10px;
    border-bottom: 1px none rgba(0, 0, 0, 0.21);
  }

  .paragraph-12 {
    font-family: Montserrat, sans-serif;
    color: #8b8b8b;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .accordion__plus-wrapper {
    width: 15px;
    height: 15px;
    margin-top: 0px;
    margin-left: 20px;
  }

  .accordion__bar-vert {
    width: 3px;
    background-color: #00237e;
    color: #00237e;
  }

  .accordion__bar-hor {
    height: 3px;
    background-color: #00237e;
    color: #00237e;
  }
}

@font-face {
  font-family: 'Brandon reg';
  src: url('../fonts/Brandon_reg.woff2') format('woff2'), url('../fonts/Brandon_reg.eot') format('embedded-opentype'), url('../fonts/Brandon_reg.woff') format('woff'), url('../fonts/Brandon_reg.ttf') format('truetype'), url('../fonts/Brandon_reg.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'HVDFontsBrandonTextBold';
  src: url('../fonts/HVDFontsBrandonTextBold.woff2') format('woff2'), url('../fonts/HVDFontsBrandonTextBold.eot') format('embedded-opentype'), url('../fonts/HVDFontsBrandonTextBold.woff') format('woff'), url('../fonts/HVDFontsBrandonTextBold.ttf') format('truetype'), url('../fonts/HVDFontsBrandonTextBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Brandon med';
  src: url('../fonts/Brandon_med.woff2') format('woff2'), url('../fonts/Brandon_med.eot') format('embedded-opentype'), url('../fonts/Brandon_med.woff') format('woff'), url('../fonts/Brandon_med.ttf') format('truetype'), url('../fonts/Brandon_med.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Brandon bld';
  src: url('../fonts/Brandon_bld.woff2') format('woff2'), url('../fonts/Brandon_bld.eot') format('embedded-opentype'), url('../fonts/Brandon_bld.woff') format('woff'), url('../fonts/Brandon_bld.ttf') format('truetype'), url('../fonts/Brandon_bld.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}