/* BANNER & TIMER CSS */

body {
	padding-top: 65px;
	font-family: Montserrat, sans-serif;
}

#top_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background-color: #8eccfb;
	color: #000;
	text-decoration: none;
	z-index: 50000;
}

#top_bar small {
	width: 60px;
	text-align: right;
	line-height: 1;
}

.inner-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.banner-content {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 17px;
	cursor: pointer;
}

.banner-text {
	display: flex;
	align-items: center;
}

.timer-section {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.timer-section small {
	font-size: 10px;
	font-weight: 600;
}

.timer {
	font-size: 20px;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.banner-content {
		flex-direction: row;
		align-items: flex-start;
		font-size: 13px;
		padding: 0 1rem;
	}

	.banner-text {
		flex-direction: column;
		align-items: flex-start;
		font-size: 11px;
	}

	.timer-section {
		flex-direction: column;
		order: -1;
		gap: 0;
	}
}

.deal-end {
	margin-top: 15px;
	text-align: center;
}

.deal-end .timer {
	width: 100%;
	font-family: "Lato";
	font-weight: 400;
	text-align: center;
	font-size: 40px;
	color: #00237e;
}

/* BANNER & TIMER CSS */
/* TERMLY CSS START */
.termly-styles-termly-banner-e1ed59 {
  width: 100% !important;
  margin: 0 !important;
  left: 0;
  right: 0 !important;
  bottom: 0 !important;
}

.t-acceptAllButton {
  color: #000 !important;
}

/* TERMLY CSS END */

/* USERWAY CSS START */

#userwayAccessibilityIcon {
  background: transparent !important;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  top: 0px !important;
  left: 0px !important;
}

.new1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #00237e;
    padding: 1rem 0;
    font-size: 2.5rem;
}
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  h1,
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
  }
  .w-embed:before,
  .w-embed:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  .w-embed:after {
    clear: both;
  }
  .w-row:before,
  .w-row:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  .w-row:after {
    clear: both;
  }
  .w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .w-col-5 {
    width: 41.66666667%;
  }
  .w-col-7 {
    width: 58.33333333%;
  }
  @media screen and (max-width: 767px) {
    .w-row {
      margin-left: 0;
      margin-right: 0;
    }
    .w-col {
      width: 100%;
      left: auto;
      right: auto;
    }
  }
  @media screen and (max-width: 479px) {
    .w-col {
      width: 100%;
    }
  }
  

* {
    box-sizing: border-box;
}
 html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  /**
   * Remove default margin.
   */
  body {
    margin: 0;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  img {
    border: 0;
  }

.advertorial-content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.description-holder, .image-holder {
    width: 100%;  
}

.image-holder img {
    width: 100%;
}

.description-holder {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 26px 20px 52px;
    order: 2;
}

.description-holder.light-bg {
    background-color: #e4f3fb;
}
.description-holder.dark-bg {
    background-color: #00237e;
}
.description-holder.dark-bg a {
    color: #FFF;
    text-decoration: underline;
}

.mobile-first {
    order : 2
}

.reviews-section {
    padding-top: 75px !important;
}

.reviews-section > p {
    font-size: 48px;
    line-height: 51px;
    font-family: "Brandon_bld";
    text-align: center;
    margin-bottom: 33px;
}

.review-block {
    max-width: 800px;
    margin-inline: auto;
}

.bold-font {
    font-family: "Brandon_bld";
}

.verified-text {
    font-family: "Brandon_reg";
    font-style: normal;
}


@media screen and (min-width: 991px) {
    .description-holder, .image-holder {
        width: 50%;  
    }
    .advertorial-content-row {
        flex-direction: row;
    }

    .description-holder {
        padding: 0 78px 0 78px;
        order: -1;
    }

    .mobile-first {
        order : 1
    }
    
}

.sub-heading {
    margin-left: 0;
    font-size: 45px;
    line-height: 1;
}

@media screen and (max-width: 479px) {
    .sub-heading {
        font-size: 32px;
        line-height: 1.2;
    }
}

.header-section {
    margin-top: 65px;
}

body {
    padding-top: 0 !important;
}

/* TIKTOK FOOTER CSS START*/

.footer-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #D8D8D8;
  }
  .contact-section {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .contact-section-text {
    margin-top: 10px;
    font-family: "Brandon_bld";
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }
  a {
    text-decoration: none;
    color: #00237e;
  }
  
  .mail-address p {
    font-size: 22px;
    font-family: "Brandon_bld";
    margin: 0px 0px 0px 10px
  }
  .footer-logo {
    width: 161px;
    height: 35px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .font-bold {
    font-family: "Brandon_bld";
  }
  
  .footer-container {
    display: flex;
  }
  .footer-sec {
    color: #00237e;
    font-family: "Brandon_reg";
  }
  
  .footer-logo-wrapper {
    max-width: 940px;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  ul li {
    list-style-type: none;
    margin-top: 10px;
  
  }
  
  .address-list-section {
    display: flex;
  }
  
  .address-list-title {
    font-size: 12px;
    font-family: "Brandon_bld";
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .address-list-item {
    padding: 0px !important;
  }
  
  .shipping-list-item {
    padding: 0px !important;
  }
  
  .address-list-item:nth-child(2) {
    margin-left: 30px;
  }
  
  .info-section {
    margin-left: 107px;
  }
  .info-list{
    display: flex;
    flex-direction: column;
  }
  .mail-address {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .disclaimer-section {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .copyright-section {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    font-size: 12px;
    font-family: "Brandon_bld";
  }
  
  
  @media screen and (max-width: 479px) {
    .address-list-title {
      text-align: center;
    }
    .footer-container {
      display: flex;
      flex-direction: column;
    }
    .address-list-section {
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .address-list-item:nth-child(2) {
      margin-top: 30px;
      margin-left: 0px;
    }
  
    .info-section {
      margin-left: 0px;
    }
    .footer-logo-wrapper {
      display: flex;
    }
    .footer-logo {
      margin-left: auto;
      margin-right: auto;
    }
    .info-list {
      align-items: center;
      text-align: center;
    }
    .contact-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .copyright-section {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .copyright-section-links {
      margin-left: 0px !important;
    }
  
  }
  
  @media screen and (max-width: 991px) {
    .info-section {
      margin-left: 10px;
    }
  }
  
  .disclaimer-section p {
    font-family: "Brandon_reg";
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.3;
  }
  
  .copyright-section {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    font-size: 12px;
    font-family: "Brandon_bld";
    display: flex;
  }
  .copyright-section-links {
    margin-left: auto;
    display: flex;
  }
  .copyright-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Brandon_med";
  }
  .links-footer-line {
    width: 1px;
    height: 9px;
    background-color: #00237e;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  
  /* TIKTOK FOOTER CSS END*/

.header-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}
.mobile-image-logo {
    display: none;
}
.top-heading-div {
    margin-bottom: 16px;
    text-align: center;
}
.main-heading-ad {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    font-family: "Brandon_bld", sans-serif;
    color: #fff;
    font-size: 50px;
    line-height: 59px;
    font-weight: 400;
    text-align: center;
}
.sub-heading {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    font-family: "Brandon_bld", sans-serif;
    color: #00237e;
    font-size: 31px;
    line-height: 36px;
    font-weight: 400;
}
.sub-heading.white {
    color: #d3d3d3;
}
.sub-para {
    margin-top: 40px;
    margin-bottom: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.sub-para.white {
    color: #d3d3d3;
}

.sub-para a {
  text-decoration: underline !important;
}
.top-hero-div {
    display: block;
    width: 1100px;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px none #00237e;
    background-color: transparent;
}
.top-hero-right {
    width: auto;
    padding: 0;
    border-bottom: 2px none #00237e;
}
.hero-img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.auth-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-width: 1px;
    border-color: rgba(0, 35, 126, 0.27);
    border-radius: 0;
    background-color: transparent;
}
.author-and-view-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.quote-para {
    margin-bottom: 0;
    padding-right: 19px;
    padding-left: 0;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 19px;
    line-height: 23px;
    font-style: normal;
}
.main-content-block {
    position: static;
    left: 372px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
.hero-img-block.mobile {
    display: none;
}
.footer-sec {
    margin-top: 0;
    padding-top: 37px;
    padding-bottom: 26px;
    background-color: #e4f3fb;
}
.heading-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 347px;
    padding-top: 15px;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #00237e;
}
.link {
    font-family: "Fa solid 900", sans-serif;
    color: #fff;
    font-size: 41px;
    line-height: 36px;
    text-decoration: none;
}
.arrow-div {
    margin-top: 42px;
    text-align: center;
}
.offer-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 59px;
    padding-bottom: 59px;
    background-color: #fff;
}
.html-embed-6 {
    font-family: "Brandon_reg", sans-serif;
    color: #e56161;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1px;
}
.offer-col-1 {
    padding-top: 39px;
    padding-right: 0;
    padding-bottom: 39px;
    /* background-image: url(/a/images/1a18ba1715e874209fa48af2c93115b802ab3c7f/rays1.png); */
    /* background-position: 50% 50%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
}
.text-block-3 {
    margin-top: 7px;
    border-bottom: 1px none #c4c4c4;
    font-family: "Brandon_reg", sans-serif;
    color: #00237e;
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}
.offer-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.offer-text-block-2 {
    font-family: "Open Sans", sans-serif;
    color: #00237e;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.for-mob-head-2 {
    display: none;
    font-family: Montserrat, sans-serif;
    color: #00237e;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    text-align: left;
}
.offer-col-2 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
.offer-row {
    display: grid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 21px 0px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-width: 1px;
    border-color: #cecaca;
    border-radius: 15px;
    background-color: hsla(0, 0%, 94.5%, 0);
    background-image: none;
    box-shadow: 1px 0 20px -3px rgba(0, 0, 0, 0.47);
}
.text-span-3 {
    padding-right: 15px;
    font-family: "Fa solid 900", sans-serif;
    font-weight: 400;
}
.button-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    margin-top: 21px;
    margin-bottom: 14px;
    padding: 21px 38px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #19973d;
    border-radius: 10px;
    background-color: #206b2e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#85bb01), to(#19973d));
    background-image: linear-gradient(180deg, #85bb01, #19973d);
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 15px;
    font-weight: 700;
    text-align: left;
}
.button-2:hover {
    box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.35);
}
.offer-heading-2 {
    margin-top: 16px;
    font-family: Montserrat, sans-serif;
    color: #00237e;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    text-align: center;
}
.reviews-section {
    /* display: none; */
    padding-top: 19px;
    padding-bottom: 48px;
    background-color: #e4f3fb;
}
.review-block {
    margin-top: 20px;
    margin-bottom: 23px;
    padding: 17px 21px;
    border-radius: 5px;
    background-color: #fff;
}
.review-para {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    color: #00237e;
    font-size: 17px;
    line-height: 28px;
    font-style: italic;
}
.review-para span {
    font-style: normal;
}
.text-span-30 {
    font-weight: 900;
}
.div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.text-block-4 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
}
.text-block-5 {
    font-family: Montserrat, sans-serif;
    color: #00237e;
    font-size: 17px;
}
.text-span-31 {
    color: #ec2222;
    font-weight: 800;
}
.text-span-32 {
    font-family: "Fa solid 900", sans-serif;
}
.side-image {
    margin-top: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: center;
}
.text-span-33 {
    color: #00237e;
}
@media screen and (max-width: 991px) {
    .header-section {
        padding-right: 24px;
        padding-left: 24px;
    }
    .main-heading-ad {
        padding-right: 0;
        font-size: 37px;
        line-height: 42px;
    }
    .top-hero-div {
        padding-right: 43px;
        padding-left: 43px;
    }
    .main-content-block {
        position: static;
        width: auto;
    }
    .footer-sec {
        padding-right: 24px;
        padding-left: 24px;
    }
    .offer-col-2 {
        padding-left: 0;
    }
    .button-2 {
        padding: 11px 12px;
        font-size: 18px;
        line-height: 26px;
    }
}
@media screen and (max-width: 640px) {
    .bedding-block img {
        width: 100%;
    }
    
/* }
@media screen and (max-width: 479px) { */
    .header-section {
        height: 56px;
        padding-top: 0;
        text-align: center;
    }
    .main-logo-img {
        display: none;
    }
    .mobile-image-logo {
        display: inline-block;
    }
    .top-heading-div {
        margin-bottom: 7px;
    }
    .main-heading-ad {
        margin-top: 10px;
        padding-right: 0;
        font-size: 30px;
        line-height: 36px;
    }
    .sub-heading {
        margin-top: 15px;
        font-size: 26px;
        line-height: 34px;
    }
    .sub-para {
        font-size: 16px;
        line-height: 24px;
    }
    .top-hero-div {
        padding: 39px 16px;
    }
    .auth-right {
        margin-top: 0;
        border-left-style: none;
        border-radius: 5px;
    }
    .author-and-view-div {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .quote-para {
        margin-top: 11px;
        padding: 3px 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 50px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    .main-content-block {
        padding-right: 0;
        padding-left: 0;
    }
    .hero-img-block {
        display: none;
    }
    .hero-img-block.mobile {
        display: block;
    }
    .footer-sec {
        padding-right: 16px;
        padding-left: 16px;
    }
    .heading-section {
        height: auto;
        padding-top: 0;
    }
    .arrow-div {
        margin-top: 27px;
    }
    .offer-section {
        padding-top: 48px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .offer-col-1 {
        padding-top: 0;
        padding-left: 0;
        /* background-image: url(/a/images/1a18ba1715e874209fa48af2c93115b802ab3c7f/rays1.png); */
        /* background-position: 50% 50%; */
        background-size: 237px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        text-align: center;
        padding-bottom: 0px;
    }
    .text-block-3 {
        margin-top: 10px;
        font-family: "Brandon_med", sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }
    .offer-text-block-2 {
        /* margin-top: -30px; */
        font-size: 15px;
        text-align: center;
    }
    .for-mob-head-2 {
        display: block;
        margin-top: 0;
        margin-bottom: 51px;
        color: #00237e;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .offer-col-2 {
        padding-right: 0;
    }
    .offer-row {
        width: auto;
        padding: 28px 14px 32px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-image: none;
        box-shadow: 1px 0 20px -4px rgba(0, 0, 0, 0.47);
        text-align: center;
    }
    .text-span-3 {
        padding-right: 17px;
        padding-left: 0;
    }
    .button-2 {
        width: 100%;
        padding: 15px 12px;
        font-size: 17px;
        line-height: 23px;
        text-transform: uppercase;
    }
    .offer-heading-2 {
        display: none;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
    }
    .reviews-section {
        padding-top: 39px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .review-para {
        font-size: 15px;
        line-height: 24px;
    }
    .div-block-12 {
        margin-top: 8px;
    }
    .text-block-4 {
        font-size: 14px;
    }
    .text-block-5 {
        font-size: 14px;
    }
}
@font-face {
    font-family: "Fa brands 400";
    src: url("/a/s6-reasons-comforter/fonts/fa-brands-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: "Fa solid 900";
    src: url("/a/s6-reasons-comforter/fonts/fa-solid-900.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: "Brandon_med";
    src: url("/a/s6-reasons-comforter/fonts/Brandon_med.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: "Brandon_reg";
    src: url("/a/s6-reasons-comforter/fonts/Brandon_reg.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: "Brandon_bld";
    src: url("/a/s6-reasons-comforter/fonts/Brandon_bld.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
