@font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_reg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_bld.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_med.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ellenluff larken';
    src: url('../fonts/EllenLuff---Larken-Italic-Regular.ttf') format('truetype'), url('../fonts/EllenLuff---Larken-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ellenluff larken variable';
    src: url('../fonts/EllenLuff---Larken-Variable-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon-grotesque-black-58a8a3e824392.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ellenluff larken';
    src: url('../fonts/EllenLuff---Larken-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ellenluff larken';
    src: url('../fonts/EllenLuff---Larken-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ellenluff larken';
    src: url('../fonts/EllenLuff---Larken-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }