* {
  outline: none !important;
}


p {
  margin: 0 0 15px 0
}

p img {
  margin: 0
}

em,.em {
  font-style: italic
}

b,strong,.strong {
  font-weight: bold
}

small,.small {
  font-size: 0.9em
}

sup,sub,.sup,.sub {
  position: relative;
  font-size: 60%;
  vertical-align: baseline
}

sup,.sup {
  top: -0.5em
}

sub,.sub {
  bottom: -0.5em
}

s,.s {
  text-decoration: line-through;
  opacity: 0.5
}

blockquote {
  font-size: 1.125em;
  line-height: 1.71;
  font-style: italic;
  margin: 0 0 30px;
  padding: 15px 30px;
  border-left: 1px solid #e6e3de
}

blockquote p {
  margin-bottom: 0
}

blockquote p+cite {
  margin-top: 15px
}

blockquote cite {
  display: block;
  font-size: 0.75em
}

blockquote cite:before {
  content: '\2014 \0020'
}

code,pre {
  font-size: 1em;
  border: 0 none;
  border-left: 1px solid #e6e3de;
  padding: 0 2px
}

pre {
  overflow: auto;
  padding: 15px;
  margin: 0 0 30px
}

.unicode {
  font-family: "Lucida Sans Unicode", "Arial Unicode MS, Arial"
}

.lt-ie9 .unicode {
  display: none
}

hr {
  clear: both;
  border-top: solid #e6e3de;
  border-width: 1px 0 0;
  margin: 30px 0;
  height: 0
}

hr.hr--small {
  margin: 15px 0
}

hr.hr--double {
  margin: 60px 0
}

hr.hr--clear {
  border-top-color: transparent
}

hr.hr--dash {
  margin: 30px auto;
  width: 80px
}

hr.hr--thick {
  border-width: 2px 0 0
}

hr.hr--underline {
  margin-top: 10px;
  margin-bottom: 20px
}

*,input,:before,:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  padding: 0;
  margin: 0
}


a, button {
  cursor: pointer;
}



table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0
}

table.full {
  width: 100%;
  margin-bottom: 1em
}

.table-wrap {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

tr {
  border-bottom: 1px solid #e6e3de
}

th {
  font-weight: bold
}

th,td {
  text-align: left;
  padding: 15px
}

@media screen and (max-width: 480px) {
  html:not(.lt-ie9) .table--responsive thead {
      display:none
  }

  html:not(.lt-ie9) .table--responsive tr {
      display: block
  }

  html:not(.lt-ie9) .table--responsive tbody {
      border-top: 1px solid #e6e3de
  }

  html:not(.lt-ie9) .table--responsive tbody td:not(:first-child) {
      border-top: 1px solid rgba(230,227,222,0.2)
  }

  html:not(.lt-ie9) .table--responsive tfoot {
      border-top: 1px solid #e6e3de;
      border-bottom: 2px solid #e6e3de
  }

  html:not(.lt-ie9) .table--responsive tr,html:not(.lt-ie9) .table--responsive td {
      float: left;
      clear: both;
      width: 100%;
      border-bottom: none
  }

  html:not(.lt-ie9) .table--responsive th,html:not(.lt-ie9) .table--responsive td {
      display: block;
      text-align: right;
      padding: 10px
  }

  html:not(.lt-ie9) .table--responsive td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.8em;
      font-size: 12px;
      padding-right: 10px
  }
}

@media screen and (max-width: 480px) {
  html:not(.lt-ie9) .table--small-hide {
      display:none !important
  }

  html:not(.lt-ie9) .table__section+.table__section {
      position: relative;
      margin-top: 10px;
      padding-top: 15px
  }

  html:not(.lt-ie9) .table__section+.table__section:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      border-bottom: 1px solid #e6e3de
  }
}


.backdrop {
display:none;
background-color:rgba(0, 0, 0, 0.35);
z-index:1001;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
position:fixed
}
.backdrop.active {
display:block
}
.size-guide-modal {
display:none;
width:500px;
background-color:#ffffff;
padding:30px 20px;
z-index:99999;
position:absolute;
left:50%;
top:50%;
-ms-transform:translate(-50%, -50%);
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
position:fixed
}
/* .size-guide-modal.bedding {
width:680px
} */
@media only screen and (max-width: 767px) {
.size-guide-modal.bedding {width:100vw;}
.size-guide-modal.bedding .column {
width:25%
}
.size-guide-modal.bedding .column .title, .size-guide-modal.bedding .column .heading {
font-size:13px
}
}
@media only screen and (max-width: 767px) {
.size-guide-modal {
height:100vh;
width:100vw
}
}
.size-guide-modal.active {
display:block;
}
.size-guide-modal .btn-close {
position:absolute;
top:10px;
right:20px;
padding:5px 10px;
cursor:pointer;
}
.size-guide-modal .column {
display:inline-block;
width:150px
}
@media only screen and (max-width: 767px) {
.size-guide-modal .column {
width:50%;
float:left
}
}
.size-guide-modal .heading {
padding:15px 0;
font-weight:normal
}
.size-guide-modal .column .title {
padding-top:30px;
padding-bottom:0;
font-size:16px;
font-weight:normal
}
.size-guide-modal hr {
margin:0
}
.btn-close svg {
width:18px
}

.size-guide {
display:block;
height:28px;
line-height:28px;
font-size:13px;
padding:0 10px;
background-color:#FBFBFB;
cursor:pointer
}
.size-guide img {
height:10px;
margin-right:5px
}
@media only screen and (max-width: 767px) {
.size-guide {
float:left
}
}


.colors-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  align-items: center;
  margin: auto -5px!important;

}


.color-choice, .upsell-color-choice {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  padding: 0px;
  line-height: 35px;
}


.size-choice:hover,
.color-choice:hover, .upsell-color-choice:hover {
  color: #00237e;
}


.size-description {
  font-size: 14px;
}

.image-change {
  margin: 15px 0px 0px 0px;
  font-size: 14px;
  min-height:auto;
  border-top: 1px solid #dedede;
  padding: 15px 0px 0px 0px;

}

span.best_seller {
font-size: 12px;
background-color: #00237e;
color: #fff;
padding: 5px;
display: inline-block;
margin-left: 10px;
}


h4 {
font-size: 20px;
margin-top: 15px;
margin-bottom: 10px!important;
}


.form-group {
font-weight: 400;
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 18px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.form-group input {
position: absolute;
opacity: 0;
cursor: pointer;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 50%;
}

.form-group:hover input ~ .checkmark {
background-color: #ccc;
}

.form-group input:checked ~ .checkmark {
background-color: #00237e;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.form-group input:checked ~ .checkmark:after {
display: block;
}

.form-group .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

.size-container {
display: table;
width: 100%;
flex-direction: row;
justify-content: space-around;
}
   
.current-color {
color: green;
}

button.buy-now-button {
width: 100%;
min-height: 50px;
display: block;
border-radius: 6px;
border: 0px;
margin-top: 10px;
font-size:24px;
font-weight:500;
padding: 20px;
cursor: pointer;
margin-top: 15px;
  color: rgb(17, 17, 17)!important;
  border-top-left-radius: 3px!important;
  border-top-right-radius: 3px!important;
  border-bottom-right-radius: 3px!important;
  border-bottom-left-radius: 3px!important;
  border-top-color: rgb(173, 177, 184)!important;
  border-right-color: rgb(162, 166, 172)!important;
  border-bottom-color: rgb(141, 144, 150)!important;
  border-left-color: rgb(162, 166, 172)!important;
  border-top-style: solid!important;
  border-right-style: solid!important;
  border-bottom-style: solid!important;
  border-left-style: solid!important;
  border-top-width: 1px!important;
  border-right-width: 1px!important;
  border-bottom-width: 1px!important;
  border-left-width: 1px!important;
  background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75))!important;
  background-position-x: initial!important;
  background-position-y: initial!important;
  background-size: initial!important;
  background-repeat-x: initial!important;
  background-repeat-y: initial!important;
  background-attachment: initial!important;
  background-origin: initial!important;
  background-clip: initial!important;
  background-color: initial!important;
  height: 80px;
}


label.form-group {
}

.size-choice.current-size {
  background-color: #00237e;
  color: white;
}

.size-choice {
  display: block;

  font-weight: 600;
  width: 100%;
  margin: 5px;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #ececec;
  border-radius: 3px;
  border: 1px solid #cacaca;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 25%;
}

.color-choice.current-color, .upsell-color-choice.current-color {
  color: #00237e;
  border: 4px solid #00237e;
  line-height: 53px;
  background-size: contain;
}

.color-choice, .upsell-color-choice {
  display: block;

  font-weight: 600;
  margin: 5px;
  text-align: center;
  background-color: #ececec;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  font-size: 13px;
}

.color-white {
  background-color: #fff;
  background-image: url("white.png");
  background-size: contain;

}

.color-stone {
  background-color: #e6e6e6;
  background-image: url("stone.png");
  background-size: contain;

}

.color-sand {
  background-color: #e2dccd;
  background-image: url("sand.png");
  background-size: contain;
}

.color-sky {
  background-color: #cdd6e2;
  background-image: url("sky.png");
  background-size: contain;

}



.button-container {
}


.fabric-description {
display: none;
}

.fabric-description.current-fabric-type {
display: block;
}



.color-name {
  display: none;
}

.color-name.current-color {
  display: inline-block;
  color: #000;
}

.size-description.current-fa {
display: none;
}


.variant-info {
display: none;
}

.variant-info.checkout-selected-variant {
display: block;
}


.flex-cards {
display: flex;
}

.flex-wrap {
flex-wrap: wrap;
}

.flex-item-1 {
flex: 1;
}

/* Flex Item */
.product-image {
text-align: center;
max-width:250px;
}

.product-desc {
text-align: left;
font-size: 12px;
}

.container-flex {
margin: 0 auto;
align-items: center;
justify-content: center;
}

.reviews-cards {
  text-align: center!important;
}


.product-image img {
  max-height: 100px;
}

.price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.sale-price {

  color: #00237e;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
}

.text-block-8 {

  color: #c30000;
  font-size: 14px;
  font-weight: 400;
}


td{border:0;}
.size-guide-modal{position: fixed;width: 100%; height:100%;top: 0;left: 0;bottom: 0;right: 0;overflow-y: auto;z-index: 999999; background:rgba(0, 0, 0, 0); -webkit-transform: inherit;
transform: inherit;}

.size-guide-modal .size-guide-modal-inner{background: #fff;
position: relative;
max-width: 780px;
height: auto;
transform: translateY( 40%);
-webkit-transform: translateY( 40%);
padding: 30px 20px 10px;
margin: 0 auto;
left: 0;
right: 0;
}
.size-guide-modal.bath .size-guide-modal-inner{
max-width: 500px;
}
.size-guide-modal .btn-close{right:10px;}
.size-guide-modal.bedding .size-guide-container{margin:0 -20px; display: none}
.size-guide-container .size-guide-row{ display:-webkit-flex;display:-webkit-box;display:-moz-flex;display:-moz-box;display:-ms-flexbox;display:flex; flex-direction: row;
border-bottom: 1px solid #eaf1ff;}
.size-guide-container .size-guide-row .size-guide-column{flex-grow: 1; flex-basis: 50%; max-width: 60%; text-align: left; padding: 10px 15px 10px 30px;color:#00237e; color: #718399;
 font-size: 16px;}
.size-guide-container .size-guide-row .size-guide-column:last-child{text-align:right; max-width:40%; padding:10px 30px 10px 15px;}
.size-guide-container .size-guide-row:last-child{border-bottom:0;}
.size-guide-container  .size-guide-heading{ color:#00237e;padding:10px 30px; background:#eaf1ff; text-align:left;}
.size-guide-modal .section-title{font-size: 28px; }
.btn-close svg{fill:#00237e}

.size-guide-modal.bath .size-guide-desktop{display: table; width: 90%; margin: 0 auto 20px;}
.size-guide-desktop th{ color:#00237e;padding:10px 30px; background:#eaf1ff; text-align: center;}
.size-guide-desktop th, .size-guide-desktop td{padding:20px 3px;  font-size: 15px;text-align: center; font-weight: normal;}
.size-guide-desktop td{color:#000;font-size: 15px;line-height: 22px;padding-top: 20px;}
.size-guide-desktop tr td:first-child, .size-guide-desktop th{color:#00237e;}
.size-guide-desktop tr td:first-child{text-align: left;}
.size-guide-desktop tr:last-child, .size-guide-desktop thead tr{border-bottom:0;}

@media(max-width:767px){
.size-guide-modal.bedding .size-guide-desktop{display: none !important;}
.size-guide-modal.bedding .size-guide-container{display: block;}
.size-guide-modal{width:100%; height:100%;overflow-y: scroll; background:rgba(0, 0, 0, 0.5)}
.size-guide-modal .size-guide-modal-inner{position:relative; width:100%; min-height: 100%; transform: initial; -webkit-transform: initial;}
.size-guide-container  .size-guide-heading{padding:15px 20px}
.size-guide-container .size-guide-row .size-guide-column{padding:15px 5px 15px 20px}
.size-guide-container .size-guide-row .size-guide-column:last-child{padding:15px 20px 15px 5px}
}



select#paypal_checkout_country {
  width: 100%!important;
  height: 40px;
  border-radius: 6px;
}

select#stripe_checkout_country {
  width: 100%!important;
  height: 40px;
  border-radius: 6px;
}


button.checkout-submit-paypal {
  width: 100%!important;
  float: left;
  height: 50px;
  background: #ffc439;
  color: #111;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


button.checkout-submit-stripe {
  width: 100%!important;
  float: left;
  height: 50px;
  background: #17b91c;
  color: #111;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;

  color: #fff!important;
  font-weight: 500;
}


.checkout-credit-card {
  font-size: 12px;
  text-align: center;
}

select.upsell-dropdown {
  width: 100%;
  height: 50px!important;
  border-radius: 6px;
  padding-left: 10px;
  margin-top: 10px;
}


form.checkout-accept-upsell {
  margin-top: 30px!important;
}


@media only screen and (max-width:749px){
button.buy-now-button {
  font-weight: 800;
  font-size: 18px;
  
  padding: 5px;
}

}


.pre-order {
  margin-top: 15px;
  
  font-size: 12px!important;
  font-weight: 600;

}


span.est-date {
  font-weight: 400;
  font-size: 9px;
}



span.pre-order-note {
  color: red;
}


span.each-item {
  font-size: 10px;
  font-weight: 400;
}

.pre-order {
display:none;
}

.checkout-variant-target .product-image {
  display: none !important;
}



.es_hide {
	display: none !important;
}

.size-container {
    display: inline-block;
    width: 100%;
    justify-content: stretch!important;
    display: flex;
}

  .size-choice {
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    cursor: pointer;
    float: left;
    margin: 0;
    height: 42px;
    align-items: center;
    justify-content: center;
    width: 19%;
    display: flex;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .size-choice:nth-child(3n) {
    margin-right: 4px;
  }

/*  .color-white {
      background-color: #fff;
      background-image: url("../images/white-sheets.png");
      background-size: contain;

  }

  .color-stone {
      background-color: transparent;
      background-image: url("../images/stone-sheets.png");
      background-size: contain;

  }

  .color-sand {
      background-color: transparent;
      background-image: url("../images/sand-sheets.png");
      background-size: contain;
  }*/

/*  .color-sky {
      background-color: transparent;
      background-image: url("../images/sky-sheets.png");
      background-size: contain;

  }*/

  .color-choice, .upsell-color-choice {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  .sale-price {
    float: left;
    margin-right: 10px;
  }

  .reviews-cards {
    text-align: left !important;
  }

  .color-name.current-color {
    text-transform: capitalize;
  }

  /* Try Rist section */
  #try-risk {
    padding: 60px 0;
    text-align: center;
    background: #041a30 url(blue-dotted-background.png) center 16% no-repeat;
  }

  #try-risk .container {
    max-width: 1080px;
    margin: auto;
  }

  #try-risk h2 {
    font-size: 48px;
    color: #fff;
    line-height: 62px;
    margin: 30px 0 10px;
  }

  #try-risk ul {
    padding: 30px 0 0 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #try-risk ul li {
    width: 25%;
  }

  #try-risk ul li:nth-child(even) {
    margin: 0 9%;
  }

  #try-risk ul li img {
    height: 40px;
  }

  #try-risk ul li h3 {
    color: #fff;
    margin: 30px 0 10px 0;
    padding: 0;
    font-size: 20px;
  }

  #try-risk ul li p {
    color: #fff;
    font-size: 15px;
  }

  @media screen and (max-width: 767px) {
    h4 {
      font-size:14px;
      margin-top: 5px;
      margin-bottom:5px;
    }
  	#try-risk {
  		padding: 0 15px;
  	}

  	#try-risk ul {
  		flex-wrap: wrap;
  	}

  	#try-risk li {
  		width: 100%;
  	}
  }

#sticky-footer {
	display: none;
}

#try-risk ul li * {
}

@media screen and (max-width: 767px) {
	#sticky-footer {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    background: #f6f6f6;
	    border-top: 1px solid #d2d2d2;
	    /* visibility: hidden; */
	    padding: 10px;
	    z-index: 999999;
	    width: 100%;
	    position: fixed;
	    flex-wrap: wrap;
	    height: 100px;
	    bottom: -100%;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    bottom: 0;
	}

	#sticky-footer .container {
	    margin: 0 auto;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 0 15px;
	    max-width: none;
	}

	#sticky-footer .color-option {
	    margin: 0;
	    width: 180px;
	    height: 58px;
	    background: #00237e;
	    justify-content: center;
	    display: flex;
	    align-items: center;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	    border-radius: 5px;
	    font-size: 15px;
	    color: #fff;
	    text-decoration: none;
	    margin-bottom: 7px;
    	width: 150px;
	}

	#sticky-footer .shoping-info {
	    display: flex;
	    margin: 0;
	    padding-left: 10px;
	    justify-content: center;
	    align-items: center;
	}

	#sticky-footer .shoping-info li {
	    display: inline-block;
	    text-align: center;
	    font-size: 12px;
	    position: relative;
	    padding: 0 5px;
	    color: #798890;
	}

	#sticky-footer .shoping-info li span {
	    color: #00237e;
	}

	#try-risk {
		padding: 30px;
	}

	#try-risk ul li {
		margin: 0 0 20px 0 !important;
		width: 100%;
	}
}

  .text-span-28 {
    color: #636363;
    font-size: 13px;
}
span.claims {
  text-align:center;
}

.text-span-21 {
    position: relative;
    top: -9px;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}

.size-choice {
  position: relative;
}

.color-choice, .upsell-color-choice {
  position: relative;
}

.size-choice.sold:after {
  content: "Sold Out";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffffd1;
  cursor: no-drop;
}

.color-choice.sold:after, .upsell-color-choice.sold:after {
  content: "X";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffffd1;
  cursor: no-drop;
}

/*----------------------- CSS for Upsell Popup ------------------------*/
.upsell_popup-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #828282ed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow-y: auto;
}

.upsell_popup {
  max-width: 680px;
  width: 90vw;
  background: #FFF;
  border-radius: 20px;
}

.upsell_popup .popup-header {
  padding: 20px;
  background: #00237e;
  color: #FFF;
  text-align: center;
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; 
}

.upsell_popup .popup-header .btn-close {
  position: absolute;
  left: 20px;
  top: 20px;
  display: inline-block;
  text-align: center;
  background: #FFF;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.upsell_popup .popup-header .btn-close span.cross {
  font-size: 60px;
  transform: rotate(45deg);
  display: inline-block;
  color: #00237e;
  margin-top: 10px;
}

.upsell_popup .popup-header h2 {
  text-transform: uppercase;
}

.upsell_popup .popup-header h4 {
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.upsell_popup .popup-body {
  padding: 20px;
  display: flex;
}

.upsell_popup .popup-body .left {
  width: 50%;
  text-align: center;
  position: relative;
}

.upsell_popup .popup-body .right {
  width: 50%;
}

.upsell_popup .popup-body .left .upsell_produc-img {
  max-width: 200px;
  margin-bottom: 10px;
  width: 100%;
}

.upsell_popup .saving_percent_badge {
  position: absolute;
  font-size: 24px;
  font-weight: 900;
  width: 64px;
  height: 64px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7px;
  border-radius: 50%;
  transform: rotate(25deg);
  left: calc(50% + 42px);
  background: #fec600;
  color: #00237e;
}

.upsell_popup .saving_percent_badge:after {
  content: "OFF";
  font-size: 14px;
}

.upsell_popup .upsell_price-wrapper {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  background: #ffedbf;
  border: solid 1px #ffca7f;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1;
}

.upsell_popup .upsell_price-wrapper .upsell_reg_price {
  color: #404040;
}

.upsell_popup .upsell_price-wrapper .upsell_reg_price:before, .upsell_popup .upsell_price-wrapper .upsell_sale_price:before {
  content: "$";
}

.upsell_popup .upsell_price-wrapper .upsell_sale_price {
  color: #00237e;
  font-weight: 900;
}

.upsell_popup .saving_row {
  color: #00237e;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

.upsell_popup label.form-group {
  display: inline-block;
  margin-right: 15px;
}

.size-dropdown {
  position: relative;
}

.size-dropdown label:after{
  content: "";
  display: inline-block;
  position: absolute;
  border-top: solid 5px #00237e;
  border-left: solid 5px #00237e;
  border-bottom: solid 5px transparent;
  border-right: solid 5px transparent;
  transform: rotate(-135deg);
  right: 20px;
  top: 19px;
}

.size-dropdown label select {
  display: inline-block;
  width: 100%;
  border: solid 1px #ebebeb;
  padding: 15px;
  border-radius: 10px;
  color: #00237e;
  font-weight: 600;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.upsell_popup .variant-description {
  max-width: 200px;
  margin: 10px auto;
  color: #00237e;
  font-weight: 700;
}

.upsell_popup .popup-footer {
  padding: 0 20px 30px;
}

.upsell_popup .popup-footer .remain_quantity-wrapper {
  border-top: solid 1px #ddd;
  padding-top: 15px;  
}

.upsell_popup .popup-footer .quantity_bar {
  background: #e9ecef;
  display: inline-block;
  width: 100%;
  height: 18px;
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.upsell_popup .popup-footer .quantity_bar .quantity_bar_filled {
  position: absolute;
  display: inline-block;
  height: 100%;
  background-color: #ffc107;
  width: 66%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient( 
225deg
, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent );
  z-index: 1;
  background-size: 25px 25px;
  animation: move 2s linear infinite;
  overflow: hidden;
}

.upsell_popup .checkout-buttons {
  text-align: center;
}

.upsell_popup .checkout-buttons .btn-checkout {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #00237e;
  color: #FFF;
  font-size: 25px;
  text-transform: uppercase;
  padding: 24px;
  border-radius: 10px;
  margin-top: 15px;
}

.upsell_popup .checkout-buttons .btn-nothanks {
  margin-top: 20px;
  display: inline-block;
  color: #000;
  text-align: center;
  font-size: 18px;
  border-bottom: solid 1px;
}

@media screen and (max-width: 767px) {

  .upsell_popup-wrapper {
    padding-bottom: 100px;
  }

  .upsell_popup .popup-header {
    padding: 10px!important;
  }

  .upsell_popup .popup-header .btn-close span.cross {
font-size:30px!important;
margin-top: 5px!important;
padding: 0px!important;

  }

  .upsell_popup .popup-header .btn-close {
    width: 30px;
    height: 30px;

}


  .upsell_popup .popup-header h2 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .upsell_popup .popup-header h4 {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 0;
  }

  .upsell_popup .popup-body {
    flex-wrap: wrap;
  }

  .upsell_popup .popup-body .left {
    width: 100%;
  }

  .mobile-half {
    width: 50% !important;
  }

  .mobile-left {
    float: left;
  }

  .mobile-right {
    float: right;
  }

  .upsell_popup .saving_percent_badge {
    width: 46px;
    height: 46px;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    left: calc(50% - 40px);
  }

  .upsell_popup .upsell_price-wrapper {
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .upsell_popup .saving_row {
    font-size: 14px;
  }

  .row {
    display: inline-block;
    width: 100%;
  }

  .upsell_popup .variant-description {
    max-width: unset;
    margin-top: 0;
    line-height: 1.2;
    font-size: 10px;
    margin-bottom: 0;
  }

  .upsell_popup .popup-body .right {
    width: 100%;
  }

  .color-choice, .upsell-color-choice {
    width: 70px;
    height: 70px;
  }

  .upsell_popup .checkout-buttons .btn-checkout {
    font-size: 14px;
    padding: 20px;
    margin-top: 7px;
  }

  .upsell_popup .checkout-buttons .btn-nothanks {
    font-size: 14px;
    margin-top: 7px;
  }

  .upsell_popup .popup-footer .remain_quantity-wrapper span {
    font-size: 13px!important;
  }

  .upsell_popup .popup-body .left .upsell_produc-img {
    margin-bottom: 0;
  }

  .upsell_popup .checkmark {
    height: 16px;
    width: 16px;
  }

  .upsell_popup .form-group .checkmark:after {
    top: 4px;
    left: 4px;
  }

  .upsell_popup label.form-group {
    padding-left: 24px;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }

  .upsell_popup {
    width: 90%;
    height: 90%;
    border-radius: 0;
    overflow-y: auto;
  }

  .upsell_popup .popup-header {
    border-radius: 0;
  }
}
#purchase {
  font-family: 'Montserrat';
}

#purchase h4 {
  font-family: 'Montserrat';
  font-size: 12px;
  color: #00237E;
  text-transform: uppercase;
}

#purchase .checkmark {
  height: 17px;
  width: 17px;
  border: solid 1px #eee;
  background: #FFF !important;
}

#purchase .form-group input:checked ~ .checkmark:after {
  background: #00237e;
  width: 13px;
  height: 13px;
  left: 1px;
  top: 1px;
}

#purchase label.form-group {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  padding-left: 25px;
  line-height: 1.3;
  color: #4B5B6F;
}

#purchase span.best_seller {
  padding: 1px 5px;
  border-radius: 3px;
}

#purchase .fabric-description {
  color: #4B5B6F;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px #CCCCCC;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 500;
}

#purchase .size-choice {
  font-family: 'Montserrat';
  font-size: 12px;
  background: #FFF;
  border: solid 1px #CCC;
  border-radius: 0;
  padding: 0px;
  height: 34px;
  color: #4B5B6F;
}

#purchase .size-choice.current-size {
  background-color: #00237e;
  color: #FFF;
}

#purchase .size-container {
  padding-bottom: 18px;
  border-bottom: solid 1px #CCC;
}

#purchase .color-name.current-color {
  color: inherit;
  text-transform: uppercase;
}

#purchase .size-choice.sold {
  opacity: .34;
  cursor: no-drop;
}

#purchase .size-choice.sold:after {
  display: none;
}

#purchase .color-choice {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
}

#purchase .color-choice.current-color:after {
  content: "";
  border: solid 4px #FFF;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 1px #ccc;
}

#purchase .image-change {
  display: flex;
  align-items: center;
}

#purchase .reviews-cards {
  color: #00237E;
  font-family: 'Montserrat';
  font-size: 10px;
}

#purchase .sale-price {
  color: #00237E;
  font-size: 22px;
  margin-top: 5px;
  font-family: 'Montserrat';
}

#purchase .text-block-8 {
  font-family: 'Montserrat';
  color: #F35C67;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  font-weight: 700;
}

#purchase button.buy-now-button { 
  background: #00237E !important;
  color: #FFF !important;
  font-family: 'Montserrat';
  border: solid 1px #07388A;
  font-weight: 600;
  font-size: 16px !important;
}

#purchase .shipping-delay-info .shipping-text {
  font-size: 12px;
  font-family: 'Montserrat';
}

#purchase .shipping-delay-info {
  background-color: #E4F3FB;
  border-color: #90CDEE;
  padding: 16px 10px;
  margin: 10px 0;
}

#purchase .image-2 {
  margin-top: 0; 
}

/*----------------------- Size Chart CSS -------------------------*/
.size_chart-handle {
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
  font-size: 17px;
  color: #aaa;
}

.size_chart-handle.active {
  color: #00237e;
}
/*----------------------------------------------------------------*/

.quantity {
  display: inline-flex;
  max-width: 200px;
}

.quantity .btn-quantity_minus {
  width: 30px;
  height: 35px;
  border: solid 1px #CCC;
  background: #FFF;
  color: #777;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  border-radius: 0;
}

.quantity .quantity_input {
  width: calc(100% - 60px);
  border: solid 1px #CCC;
  border-left: none;
  border-right: none;
  text-align: center;
  color: #777;
}

.quantity .btn-quantity_plus {
  width: 30px;
  height: 35px;
  border: solid 1px #CCC;
  background: #FFF;
  color: #777;
  font-size: 24px;
  line-height: 34px;
  padding: 0;
  border-radius: 0;
}


.text-block-8 {
  font-size: 16px!important;
  text-decoration: line-through;
}

#purchase .sale-price {
  font-size: 18px!important;
}

#purchase .checkmark {
  height: 25px;
  width: 25px;
  border: solid 1px #d0d0d0;
  background: #FFF !important;
}
#purchase .form-group input:checked ~ .checkmark:after {
  background: #00237e;
  width: 13px;
  height: 13px;
  left: 5px;
  top: 5px;
}
#purchase label.form-group {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  padding-left: 35px;
  line-height: 1.3;
  color: #4B5B6F;
}
#purchase .checkmark {
  height: 25px;
  width: 25px;
  border: solid 1px #eee;
  background: #FFF !important;
  margin-top: -4px;
}

.product-desc {
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
}