.header-section {
  height: 69px;
  padding-top: 16px;
  background-color: #00237e;
}

.hero-section {
  width: auto;
  height: auto;
  padding-top: 22px;
}

.container {
  background-color: #851010;
}

.ad-container-one {
  display: block;
  max-width: 1200px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.right-content-block {
  position: static;
  top: -234px;
  display: block;
  max-width: 311px;
  margin-bottom: 135px;
  margin-left: 44px;
  padding: 22px 0px 0px;
  border-style: solid solid none;
  border-width: 2px;
  border-color: rgba(0, 35, 126, 0.27);
  border-radius: 15px;
  background-color: #fff;
  box-shadow: -2px 0 17px 0 rgba(0, 0, 0, 0.07);
}

.right-content-block.for2 {
  display: none;
}

.right-content-block.for3 {
  display: none;
}

.breadcrumb {
  margin-bottom: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #c3c3c3;
  font-size: 12px;
  line-height: 18px;
}

.ad-col-one {
  padding-right: 25px;
}

.ad-col-two {
  position: -webkit-sticky;
  position: sticky;
  top: 21px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.tag-text {
  display: inline-block;
  padding: 3px 6px 4px;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
}

.main-heading-ad {
  margin-top: 10px;
  margin-bottom: -6px;
  padding-right: 0px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 43px;
  line-height: 51px;
  font-weight: 700;
}

.author-and-view-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.author-text {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 10px;
}

.text-block {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
}

.view-text {
  display: inline-block;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 15px;
}

.comment-text {
  margin-right: 27px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 15px;
}

.social-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  min-width: 45px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4d54d2;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #9b9eb8;
}

.social-icon:hover {
  color: #4f5e78;
}

.html {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  color: #ca212a;
}

.social-icons-block {
  display: none;
  margin-top: 14px;
  margin-bottom: 38px;
}

.social-icon-1 {
  padding-right: 4px;
  padding-left: 4px;
}

.big-image-block {
  margin-top: 30px;
  margin-bottom: 22px;
}

.paragraph-div.change {
  margin-top: 37px;
  margin-bottom: 14px;
  padding: 11px 22px;
  border: 2px dashed #00237e;
  border-radius: 15px;
  background-color: #f0f9ff;
}

.para-ad {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
}

.quote-div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.para-quote {
  margin-bottom: 0px;
  font-family: 'Brandon bld', sans-serif;
  color: #222;
  font-size: 34px;
  line-height: 45px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.note-div {
  margin-top: 34px;
  padding: 14px 12px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4f3fb;
  background-color: #eaedf8;
}

.note-para {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 26px;
}

.offer-div {
  margin-top: 33px;
}

.offer-row {
  margin-bottom: 40px;
  padding: 9px 30px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #cacaca #cacaca #bdbdbd;
  border-radius: 15px;
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e7e7e7));
  background-image: linear-gradient(180deg, #fff, #e7e7e7);
  box-shadow: 1px 1px 11px -3px rgba(0, 0, 0, 0.47);
}

.offer-heading {
  margin-top: 16px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #222;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.offer-text-block {
  font-family: 'Brandon reg', sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 18.2px;
}

.offer-col-1 {
  text-align: left;
}

.offer-col-2 {
  text-align: center;
}

.button {
  margin-top: 21px;
  margin-bottom: 14px;
  padding: 21px 38px;
  border-style: solid;
  border-width: 2px;
  border-color: #19973d;
  border-radius: 10px;
  background-color: #206b2e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#85bb01), to(#19973d));
  background-image: linear-gradient(180deg, #85bb01, #19973d);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.35);
}

.text-span {
  font-size: 10px;
  font-weight: 400;
}

.button-subtitle {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
}

.text-block-2 {
  border-bottom: 1px none #c4c4c4;
  font-family: 'Brandon reg', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text-span-2 {
  color: #e56161;
  font-weight: 400;
}

.separator {
  display: none;
  height: 1px;
  margin-top: 21px;
  margin-bottom: 19px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: #e6e6e6;
}

.heading-container {
  max-width: 1200px;
  text-align: left;
}

.offer-img {
  padding-top: 48px;
  padding-bottom: 8px;
  text-align: left;
}

.heading {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  line-height: 26px;
}

.list {
  padding-left: 0px;
}

.image {
  text-align: center;
}

.aso-div {
  margin-top: 15px;
  margin-bottom: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.aso-image {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.footer-sec {
  padding-top: 37px;
  padding-bottom: 26px;
  background-color: #e4f3fb;
}

.footer-con {
  text-align: center;
}

.paragraph {
  text-align: center;
}

.toc-div {
  margin-top: 21px;
}

.toc-para {
  font-family: Verdana, Geneva, sans-serif;
  color: #b8b8b8;
  font-size: 11px;
  text-align: center;
}

.copy-para {
  margin-top: 21px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.image-2 {
  text-align: center;
}

.bold-text {
  font-family: 'Brandon reg', sans-serif;
  color: #00237e;
  font-size: 13px;
  font-weight: 500;
}

.bold-text-2 {
  color: #4b83f1;
  font-size: 11px;
  line-height: 17px;
}

.bold-text-3 {
  color: #4b83f1;
  font-size: 11px;
  line-height: 16px;
}

.text-span-3 {
  font-family: 'Fa solid 900', sans-serif;
  font-weight: 400;
}

.text-span-4 {
  font-family: 'Fa solid 900', sans-serif;
}

.text-span-5 {
  font-family: 'Fa solid 900', sans-serif;
}

.heading-2 {
  font-family: Merriweather, serif;
  font-size: 20px;
  line-height: 50px;
}

.sidebar-heading {
  margin-top: 0px;
  padding: 0px 38px 7px;
  font-family: 'Brandon med', sans-serif;
  font-size: 27px;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
}

.separator-small {
  height: 2px;
  background-color: rgba(0, 35, 126, 0.27);
}

.side-image {
  margin-top: 0px;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
}

.side-block {
  margin-top: 12px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.side-image-div {
  margin: 16px 22px 17px;
  padding: 22px 0px 25px;
  background-color: hsla(0, 0%, 82.7%, 0.27);
}

.link {
  color: #333ce2;
  font-weight: 700;
}

.bold-text-4 {
  color: #333ce2;
  text-decoration: none;
}

.link-2 {
  text-decoration: none;
}

.link-3 {
  color: #333ce2;
  text-decoration: none;
}

.link-4 {
  color: #333ce2;
  text-decoration: none;
}

.bold-text-5 {
  text-transform: uppercase;
}

.bold-text-6 {
  text-transform: uppercase;
}

.bold-text-7 {
  text-transform: uppercase;
}

.bold-text-8 {
  text-transform: uppercase;
}

.bold-text-9 {
  text-transform: uppercase;
}

.mobile-logo-image {
  display: none;
}

.breadcrumb-mobile {
  display: none;
  font-family: 'Open Sans', sans-serif;
  color: #c3c3c3;
  font-size: 12px;
  line-height: 18px;
}

.mobile-image-logo {
  display: none;
}

.bf-image {
  margin-top: 26px;
  margin-bottom: 34px;
}

.bf-image-mobile {
  display: none;
}

.link-5 {
  color: #333ce2;
  text-decoration: none;
}

.link-6 {
  color: #333ce2;
  text-decoration: none;
}

.stripes-div {
  width: 400px;
  height: 40px;
}

.image-3 {
  margin-bottom: 0px;
}

.pri-sec {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pri-para {
  padding-top: 26px;
  font-family: 'Open Sans', sans-serif;
}

.bold-text-10 {
  font-size: 23px;
}

.terms-sec {
  padding-top: 64px;
  padding-bottom: 64px;
}

.terms-para {
  padding-top: 26px;
  font-family: 'Open Sans', sans-serif;
}

.bold-text-11 {
  font-size: 22px;
}

.top-bar {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #222;
}

.top-bar-text {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #b1aeae;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.mobile-brand-img {
  display: none;
}

.top-text {
  font-family: Montserrat, sans-serif;
  color: #b3b3b3;
  font-size: 11px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.mobile-img-div {
  display: none;
}

.main-image-section {
  height: 229px;
  background-image: url('../images/03.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.auth-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  padding-top: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.auth-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid solid solid none;
  border-width: 1px;
  border-color: rgba(0, 35, 126, 0.27);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.11);
}

.date-text {
  display: inline-block;
  margin-left: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 17px;
}

.quote-para {
  margin-bottom: 0px;
  padding-right: 19px;
  padding-left: 21px;
  font-family: 'Droid Serif', serif;
  color: #272626;
  font-size: 19px;
  line-height: 23px;
  font-style: italic;
}

.quote-style-div {
  font-family: Varela, sans-serif;
  font-size: 70px;
  line-height: 23px;
  font-style: italic;
}

.q-text {
  font-family: Varela, sans-serif;
  color: #00237e;
  font-size: 70px;
  line-height: 23px;
  font-style: italic;
}

.bold-text-12 {
  color: #d3b14c;
}

.feature-div {
  display: block;
  margin-top: 44px;
  margin-bottom: 22px;
  padding: 22px 25px 34px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 1px 1px 14px 0 rgba(0, 0, 0, 0.15);
}

.icon-div-one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 40.8%, 0.23);
}

.icon-div-one.last {
  border-bottom-style: solid;
}

.icon-text {
  margin-left: 30px;
  font-family: 'Brandon bld', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.image-4 {
  margin-bottom: -14px;
}

.hero-img {
  margin-top: 0px;
  margin-bottom: 3px;
}

.main-feature-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.box-headline {
  font-family: 'Brandon bld', sans-serif;
  color: #222;
  font-size: 34px;
  line-height: 45px;
  text-align: left;
}

.box-para {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 19px;
  line-height: 28px;
}

.box-div {
  margin-top: 47px;
}

.gif-col-1 {
  padding-right: 0px;
}

.gif-col-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.bold-text-13 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #00237e;
  line-height: 27px;
  font-weight: 700;
}

.image-5 {
  padding-top: 127px;
}

.button-2 {
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 10px;
  background-color: #00237e;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.66);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.text-span-6 {
  padding-left: 13px;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.button-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 85px 4px 0px;
  padding: 21px 43px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #00237e;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.61);
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-weight: 600;
}

.bold-text-14 {
  font-family: Lato, sans-serif;
}

.text-span-7 {
  padding-left: 23px;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 33px;
}

.bold-text-15 {
  font-size: 22px;
}

.compare-div {
  margin-top: 27px;
  margin-bottom: 19px;
  padding: 32px 75px;
  border-radius: 15px;
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.14);
}

.comp-col-2 {
  padding-left: 0px;
  border-bottom: 0px none rgba(0, 0, 0, 0.18);
  border-left: 1px solid rgba(0, 0, 0, 0.18);
}

.compare-box-mir {
  margin-right: 10px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.compare-box-mir.last {
  border-bottom-style: none;
}

.compare-box-other {
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.compare-box-other.last {
  border-bottom-style: none;
}

.comp-text-mir {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: 'Brandon med', sans-serif;
  color: #00237e;
  font-size: 20px;
  line-height: 25px;
  text-align: right;
}

.comp-text-other {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'Brandon med', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.text-span-8 {
  padding-right: 10px;
  font-family: 'Fa solid 900', sans-serif;
  color: #cc3234;
  font-size: 25px;
  line-height: 25px;
}

.text-span-9 {
  padding-left: 10px;
  font-family: 'Fa solid 900', sans-serif;
  color: #1bae4b;
  font-size: 25px;
  line-height: 25px;
}

.comp-headline-left {
  margin-top: 0px;
  padding-right: 22px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  text-align: right;
}

.comp-headline-right {
  margin-top: 0px;
  padding-left: 22px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}

.bold-text-16 {
  color: #00237e;
  text-align: right;
}

.bold-text-17 {
  color: #00237e;
}

.gif-head-1 {
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}

.html-embed {
  margin-left: 5px;
  padding-left: 0px;
}

.html-embed-2 {
  margin-right: 5px;
}

.feautre-img-1 {
  display: none;
}

.html-embed-3 {
  display: none;
}

.but-mid-div {
  text-align: left;
}

.bold-text-18 {
  color: #00237e;
}

.text-span-10 {
  color: #00237e;
  font-weight: 600;
}

.button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid solid none;
  border-width: 2px;
  border-color: rgba(0, 35, 126, 0.27);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #00237e;
}

.button-link-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
}

.div-for-quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 35, 126, 0.43);
  font-size: 17px;
  line-height: 17px;
}

.for-quote-icon {
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  font-style: italic;
  text-align: center;
}

.double-div {
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 0px;
}

.text-span-11 {
  font-family: 'Fa solid 900', sans-serif;
  color: #00237e;
  font-size: 13px;
  line-height: 30px;
}

.review-block {
  margin-top: 20px;
  margin-bottom: 23px;
  padding: 17px 21px;
  border-radius: 5px;
  background-color: #e4f3fb;
}

.review-para {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #00237e;
  font-size: 17px;
  line-height: 28px;
  font-style: italic;
}

.text-span-12 {
  font-family: 'Brandon bld', sans-serif;
  font-style: normal;
}

.text-span-13 {
  font-family: 'Brandon bld', sans-serif;
  font-style: normal;
}

.text-span-14 {
  font-family: 'Brandon bld', sans-serif;
  font-style: normal;
}

.text-span-15 {
  font-family: 'Brandon reg', sans-serif;
  font-style: normal;
}

.text-span-16 {
  font-family: 'Brandon reg', sans-serif;
  font-style: normal;
}

.text-span-17 {
  font-family: 'Fa solid 900', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-style: normal;
}

.image-block-center {
  margin-top: 32px;
  margin-bottom: 15px;
}

.bold-text-19 {
  color: #00237e;
}

.html-embed-4 {
  display: none;
}

.bold-text-20 {
  color: #00237e;
}

.bold-text-21 {
  color: #00237e;
}

.html-embed-5 {
  display: none;
}

.all-logo-div {
  margin-top: 40px;
  margin-bottom: 33px;
}

.all-logo-mobile-img {
  display: none;
}

.right-content-new-div {
  max-width: 311px;
  margin-bottom: 135px;
  margin-left: 44px;
  padding-top: 22px;
}

.feature-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  font-family: 'Brandon med', sans-serif;
  font-size: 34px;
  line-height: 35px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -1px;
}

.button-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00237e;
}

.feature-right-img {
  margin-top: 22px;
  border-top: 1px solid hsla(0, 0%, 40.8%, 0.5);
  border-right: 1px solid hsla(0, 0%, 40.8%, 0.5);
  border-left: 1px solid hsla(0, 0%, 40.8%, 0.5);
}

.link-7 {
  color: #00237e;
}

.side-bar-link {
  color: #0035be;
}

.side-bar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00237e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: none;
}

.bold-text-22 {
  font-weight: 400;
}

.side-bar-button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00237e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: none;
}

.html-embed-6 {
  font-family: 'Brandon reg', sans-serif;
  color: #e56161;
  line-height: 21px;
  letter-spacing: 1px;
}

.chart-div {
  margin-bottom: 16px;
}

.c-block-1 {
  padding: 13px 14px 4px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #a1b2df;
  border-radius: 5px;
  background-color: #d5def5;
}

.c-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Brandon bld', sans-serif;
  color: #00237e;
  font-size: 28px;
  line-height: 34px;
  text-decoration: underline;
}

.bold-text-23 {
  color: #222;
  font-size: 28px;
  line-height: 38px;
}

.c-p1 {
  padding-top: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27px;
}

html.w-mod-js *[data-ix="scale-out"] {
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

@media screen and (max-width: 991px) {
  .header-section {
    padding-right: 24px;
    padding-left: 24px;
  }
  .hero-section {
    padding-right: 24px;
    padding-left: 24px;
  }
  .right-content-block {
    padding-right: 11px;
    padding-left: 11px;
  }
  .ad-col-one {
    padding-right: 0px;
  }
  .main-heading-ad {
    padding-right: 0px;
    font-size: 37px;
    line-height: 42px;
  }
  .offer-col-2 {
    padding-left: 0px;
  }
  .button {
    padding: 11px 12px;
    font-size: 18px;
    line-height: 26px;
  }
  .offer-img {
    margin-top: 25px;
    padding-right: 8px;
  }
  .footer-sec {
    padding-right: 24px;
    padding-left: 24px;
  }
  .sidebar-heading {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 24px;
    line-height: 28px;
  }
  .feature-left-div {
    padding-right: 27px;
  }
  .button-2 {
    font-size: 15px;
    line-height: 24px;
  }
  .compare-div {
    padding-right: 17px;
    padding-left: 17px;
  }
  .comp-text-mir {
    font-size: 16px;
    line-height: 20px;
  }
  .comp-text-other {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .ad-col-two {
    display: none;
  }
  .heading-container {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .header-section {
    height: 56px;
    padding-top: 13px;
    text-align: center;
  }
  .hero-section {
    height: auto;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .breadcrumb {
    display: none;
    font-size: 10px;
    line-height: 14px;
  }
  .ad-col-one {
    padding-right: 10px;
  }
  .ad-col-two {
    display: none;
  }
  .main-heading-ad {
    margin-top: 10px;
    padding-right: 0px;
    font-size: 29px;
    line-height: 35px;
  }
  .author-and-view-div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .social-icons-block {
    margin-bottom: 24px;
    text-align: left;
  }
  .big-image-block {
    margin-top: 24px;
  }
  .paragraph-div.change {
    padding-bottom: 4px;
  }
  .para-ad {
    font-size: 16px;
    line-height: 25px;
  }
  .para-quote {
    font-size: 28px;
    line-height: 34px;
  }
  .note-div {
    margin-top: 20px;
  }
  .offer-row {
    padding: 17px 14px 21px;
    text-align: center;
  }
  .offer-text-block {
    font-size: 15px;
  }
  .offer-col-1 {
    text-align: center;
  }
  .button {
    padding: 15px 32px;
    font-size: 17px;
    line-height: 23px;
  }
  .text-block-2 {
    font-size: 13px;
    line-height: 17px;
  }
  .heading-container {
    text-align: center;
  }
  .offer-img {
    margin-top: 12px;
    margin-left: 0px;
    padding-top: 16px;
    padding-left: 0px;
  }
  .aso-div {
    display: block;
    margin-top: 19px;
    margin-bottom: 23px;
  }
  .aso-image {
    display: block;
  }
  .footer-sec {
    padding-right: 16px;
    padding-left: 16px;
  }
  .bold-text-5 {
    text-transform: uppercase;
  }
  .bold-text-6 {
    text-transform: uppercase;
  }
  .bold-text-7 {
    text-transform: uppercase;
  }
  .bold-text-8 {
    text-transform: uppercase;
  }
  .bold-text-9 {
    text-transform: uppercase;
  }
  .main-logo-img {
    display: none;
  }
  .mobile-logo-image {
    display: block;
    text-align: center;
  }
  .breadcrumb-mobile {
    display: block;
    margin-bottom: 7px;
  }
  .mobile-image-logo {
    display: inline-block;
  }
  .bf-image {
    display: none;
  }
  .bf-image-mobile {
    display: block;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  .pri-sec {
    padding-right: 28px;
    padding-left: 28px;
  }
  .terms-sec {
    padding-right: 28px;
    padding-left: 28px;
  }
  .top-bar-text {
    padding-top: 1px;
    font-size: 9px;
    line-height: 15px;
  }
  .mobile-brand-img {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
  .top-text {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 1px;
  }
  .mobile-img-div {
    display: block;
    margin-top: 31px;
    margin-bottom: 38px;
  }
  .mob-img {
    padding-right: 10px;
    padding-left: 10px;
  }
  .main-image-section {
    height: 165px;
  }
  .auth-left {
    padding-top: 0px;
  }
  .auth-right {
    margin-top: 0px;
    border-left-style: none;
    border-radius: 5px;
  }
  .auth-image {
    margin-top: 8px;
  }
  .date-text {
    margin-left: 10px;
    font-size: 12px;
    line-height: 15px;
  }
  .quote-para {
    padding: 3px 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 50px;
    font-size: 14px;
    line-height: 21px;
  }
  .q-text {
    font-size: 68px;
    line-height: 21px;
  }
  .feature-div {
    padding-right: 18px;
    padding-left: 18px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .feature-left-div {
    display: block;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }
  .feature-right-div {
    text-align: left;
  }
  .icon-div-one {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .icon-text {
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
  .main-feature-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .box-headline {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
  }
  .box-para {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
  }
  .image-5 {
    margin-bottom: 23px;
    padding-top: 0px;
  }
  .button-middle {
    margin-right: 0px;
    padding: 15px 19px;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
  }
  .compare-div {
    padding: 14px 4px;
    border-radius: 15px;
  }
  .compare-box-mir {
    margin-right: 5px;
    padding-right: 0px;
  }
  .compare-box-other {
    margin-left: 5px;
    padding-left: 0px;
  }
  .comp-text-mir {
    font-size: 12px;
    line-height: 16px;
  }
  .comp-text-other {
    color: #00237e;
    font-size: 12px;
    line-height: 16px;
  }
  .text-span-8 {
    padding-right: 5px;
    font-size: 16px;
    line-height: 16px;
  }
  .text-span-9 {
    padding-left: 5px;
    font-size: 16px;
    line-height: 16px;
  }
  .comp-headline-left {
    padding-right: 10px;
    font-size: 16px;
    line-height: 28px;
  }
  .comp-headline-right {
    padding-left: 10px;
    font-size: 15px;
    line-height: 28px;
  }
  .gif-head-1 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
  }
  .feautre-img-1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 36px;
    text-align: center;
  }
  .feature-img-2 {
    display: none;
    margin-bottom: 24px;
  }
  .div-for-quote {
    width: auto;
    height: 48px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
  }
  .review-para {
    font-size: 15px;
    line-height: 24px;
  }
  .all-logo-img {
    display: none;
  }
  .all-logo-mobile-img {
    display: block;
  }
  .c-h1 {
    font-size: 24px;
    line-height: 29px;
  }
  .c-p1 {
    font-size: 15px;
    line-height: 24px;
  }
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon med';
  src: url('../fonts/Brandon_med.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon reg';
  src: url('../fonts/Brandon_reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon bld';
  src: url('../fonts/Brandon_bld.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}