.es_product-image {
    max-width: 600px;
}

.es_variants-wrapper {
	display: inline-block;
	width: 100%;
	font-family: Rubik, sans-serif;
}

.es_variants-wrapper .es_variants-row {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    position: relative;
    padding-right: 10px;
}

.es_variants-wrapper .es_variants-row .es_variants-form {
	display: inline-grid;
}

.es_variants-wrapper .es_variants-row .es_row-label {
    font-family: Rubik, sans-serif;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
}

.es_variants-wrapper .es_variants-row .es_variant {
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;
}

.es_variants-wrapper .es_variants-row.es_radios .es_variant:before {
	content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #ececec;
    border-radius: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    box-sizing: border-box;
    background-color: #ececec;
}

.es_variants-wrapper .es_variants-row.es_radios .es_variant.active:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 100px;
    background-color: #00237e;
    display: inline-block;
    float: left;
    margin-right: 10px;
    box-sizing: border-box;
}

.es_row-option {
	display: none !important;
}

.es_dropdown-val {
	padding-top: 11px;
	padding-bottom: 11px;
	text-transform: uppercase;
}

a.w-dropdown-link {
	cursor: pointer;
}

a.w-dropdown-link:hover {
    background-color: #00237e;
    color: #FFF;
}

.es_color {
	text-transform: uppercase;
	font-weight: 600;
}

.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant {
	float: left;
	margin-right: 10px;
}

.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant {
	content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #ececec;
    border-radius: 100px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    background-color: #ececec;
    position: relative;
}

.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant.active:after {
	content: "";
    width: 26px;
    height: 26px;
    border: solid 2px #333;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: -4px;
    box-sizing: border-box;
}

.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant.es_disabled {
	opacity: .5;
	cursor: no-drop;
}

.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant.es_disabled::before, .es_variants-wrapper .es_variants-row.es_color_swatch .es_variant.es_disabled::after {
  	position: absolute;
	left: 8px;
	content: ' ';
	height: 23px;
	width: 2px;
	background-color: #333;
	top: -2px;
}
.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant.es_disabled::before {
  transform: rotate(45deg);
}
.es_variants-wrapper .es_variants-row.es_color_swatch .es_variant.es_disabled::after {
  transform: rotate(-45deg);
}

.es_half {
	width: 50% !important;
	float: left !important;
}

.es_btn-size_guide {
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}

.es_variants-row[data-value='size'] .select-items div.es_disabled:after {
    content: "Sold Out";
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #888888c7;
    cursor: no-drop;
    color: #a50825;
    font-weight: 600;
}

.es_product-image_mob {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media screen and (max-width: 767px) {
	.es_half-mobile {
		width: 50% !important;
		float: left !important;
	}

	.es_variants-wrapper .es_variants-row .es_variants-form {
		display: inline-block;
		width: 100%;
	}

	.es_variants-wrapper .es_variants-row .es_variant {
		display: inline-flex;
	}

	.es_dropdown-val {
	    padding-top: 6px;
	    padding-bottom: 6px;
	    font-size: 14px;
	}
}

/*----------------------------------------------- Size Chart Modal CSS ---------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.backdrop {
    display:none;
    background-color:rgba(0, 0, 0, 0.35);
    z-index:1001;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:fixed
}
.backdrop.active {
    display:block
}
.size-guide-modal {
    display:none;
    width:500px;
    background-color:#ffffff;
    padding:30px 20px;
    z-index:99999;
    position:absolute;
    left:50%;
    top:50%;
    -ms-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    position:fixed
}
/* .size-guide-modal.bedding {
    width:680px
} */
@media only screen and (max-width: 767px) {
    .size-guide-modal.bedding {width:100vw;}
        .size-guide-modal.bedding .column {
        width:25%
    }
    .size-guide-modal.bedding .column .title, .size-guide-modal.bedding .column .heading {
        font-size:13px
    }
}
@media only screen and (max-width: 767px) {
    .size-guide-modal {
        height:100vh;
        width:100vw
    }

    .es_miracle_landing {
        padding-top: 100px;
    }

    #toggle-mob-cart {
        position: fixed;
        top: 111px;
        width: 100vw;
        left: 0;
        background: #FFF;
        padding: 15px;
        display: none;
    }

    #toggle-mob-cart .chk-head {
        margin: 10px 0;
    }
}
.size-guide-modal.active {
    display:block;
}
.size-guide-modal .btn-close {
    position:absolute;
    top:10px;
    right:20px;
    padding:5px 10px;
    cursor:pointer;
}
.size-guide-modal .column {
    display:inline-block;
    width:150px
}
@media only screen and (max-width: 767px) {
    .size-guide-modal .column {
        width:50%;
        float:left
    }
}
.size-guide-modal .heading {
    padding:15px 0;
    font-weight:normal
}
.size-guide-modal .column .title {
    padding-top:30px;
    padding-bottom:0;
    font-size:16px;
    font-weight:normal
}
.size-guide-modal hr {
    margin:0
}
.btn-close svg {
    width:18px
}

.size-guide {
    display:block;
    height:28px;
    line-height:28px;
    font-size:13px;
    padding:0 10px;
    background-color:#FBFBFB;
    cursor:pointer
}
.size-guide img {
    height:10px;
    margin-right:5px
}
@media only screen and (max-width: 767px) {
    .size-guide {
        float:left
    }
}


.colors-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    align-items: center;
    margin: auto -5px!important;

}


.color-choice {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    padding: 0px;
    line-height: 35px;
}


.size-choice:hover,
.color-choice:hover {
    color: #00237e;
}


.size-description {
    font-family: 'Brandon reg', sans-serif;
    font-size: 14px;
}

td{border:0;}
.size-guide-modal{position: fixed;width: 100%; height:100%;top: 0;left: 0;bottom: 0;right: 0;overflow-y: auto;z-index: 999999; background:rgba(0, 0, 0, 0); -webkit-transform: inherit;
transform: inherit;}

.size-guide-modal .size-guide-modal-inner{background: #fff;
position: relative;
font-family: Montserrat;
max-width: 780px;
border-radius:18px;
height: auto;
transform: translateY( 40%);
-webkit-transform: translateY( 40%);
padding: 30px 20px 10px;
margin: 0 auto;
left: 0;
right: 0;
}
.size-guide-modal.bath .size-guide-modal-inner{
max-width: 500px;
}
.size-guide-modal .btn-close{right:10px;}
.size-guide-modal.bedding .size-guide-container{margin:0 -20px; display: none}
.size-guide-container .size-guide-row{ display:-webkit-flex;display:-webkit-box;display:-moz-flex;display:-moz-box;display:-ms-flexbox;display:flex; flex-direction: row;
border-bottom: 1px solid #eaf1ff;}
.size-guide-container .size-guide-row .size-guide-column{flex-grow: 1; flex-basis: 50%; max-width: 60%; text-align: left; padding: 10px 15px 10px 30px;color:#00237e; color: #718399;
font-family: 'Montserrat'; font-size: 16px;}
.size-guide-container .size-guide-row .size-guide-column:last-child{text-align:right; max-width:40%; padding:10px 30px 10px 15px;}
.size-guide-container .size-guide-row:last-child{border-bottom:0;}
.size-guide-container  .size-guide-heading{font-family: 'Montserrat'; color:#00237e;padding:10px 30px; background:#eaf1ff; text-align:left;}
.size-guide-modal .section-title{font-size: 28px; font-family: 'Montserrat'; margin: 0 0 15px 0;}
.btn-close svg{fill:#00237e}

.size-guide-modal.bath .size-guide-desktop{display: table; width: 90%; margin: 0 auto 20px;}
.size-guide-desktop th{font-family: 'Montserrat'; color:#00237e;padding:10px 30px; background:#eaf1ff; text-align: center;}
.size-guide-desktop th, .size-guide-desktop td{padding:20px 3px;font-family: "Montserrat";  font-size: 15px;text-align: center; font-weight: normal;}
.size-guide-desktop td{color:#000;font-size: 15px;line-height: 22px;padding-top: 20px;font-family: "Montserrat";}
.size-guide-desktop tr td:first-child, .size-guide-desktop th{color:#00237e;}
.size-guide-desktop tr td:first-child{text-align: left;}
.size-guide-desktop tr:last-child, .size-guide-desktop thead tr{border-bottom:0;}

@media(max-width:767px){
  .size-guide-modal.bedding .size-guide-desktop{display: none !important;}
  .size-guide-modal.bedding .size-guide-container{display: block;}
  .size-guide-modal{width:100%; height:100%;overflow-y: scroll; background:rgba(0, 0, 0, 0.5)}
  .size-guide-modal .size-guide-modal-inner{position:relative; width:100%; min-height: 100%; transform: initial; -webkit-transform: initial;}
  .size-guide-container  .size-guide-heading{padding:15px 20px}
  .size-guide-container .size-guide-row .size-guide-column{padding:15px 5px 15px 20px}
  .size-guide-container .size-guide-row .size-guide-column:last-child{padding:15px 20px 15px 5px}
}

.size_chart-handle {
  font-family: 'Montserrat';
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
  font-size: 17px;
  color: #aaa;
  cursor: pointer;
}

.size_chart-handle.active {
  color: #00237e;
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------- Quantity Selector -------------------------------*/
.selected_quantity {
    max-width: 200px;
    width: 100%;
    padding: 11px 39px 11px 21px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    border-radius: 4px;
    background-color: #fcfcfc;
    font-family: Rubik, sans-serif;
    color: #00237e;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}

.selected_quantity:after {
    content: "\e603";
    font-family: 'webflow-icons' !important;
    position: absolute;
    right: 14px;
}

.quantity_dropdown {
    border: solid 1px #aaa;
    position: absolute;
    max-width: 200px;
    width: calc(100% - 10px);
    border-radius: 3px;
    z-index: 10;
    background: #FFF;
}

.quantity_dropdown .dropdown-item {
    padding: 10px 11px;
    display: block;
    color: #222222;
    background: #DDD;
    cursor: pointer;
}

.quantity_dropdown .dropdown-item:hover {
    background: #00237e;
    color: #FFF;
}

@media screen and (max-width: 767px) {
    .selected_quantity {
        padding-left: 12px;
        padding-right: 11px;
    }
}
/*-------------------------------------------------------------------------------------*/